classificação-de-texto---lnc-9NqkiX1BfNBK5Y9A.json
{"createdAt":"2024-12-17T03:22:45.554Z","updatedAt":"2024-12-18T02:56:49.411Z","id":"9NqkiX1BfNBK5Y9A","name":"Classificação de texto - LNC","active":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-4500,-1280],"id":"465c0efc-0058-44c1-8185-7e1edff7c1ec","name":"When chat message received","webhookId":"41516aee-6294-4d4e-8305-88b38655c5ad"},{"parameters":{"assignments":{"assignments":[{"id":"9d17cf5d-5031-4086-b805-2f854fc9982a","name":"telefoneCliente","value":"999998829","type":"string"},{"id":"a37c7698-88c6-459a-8f30-e2917d4d36a8","name":"mensagem","value":"={{ $json.mensagem }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4000,-1280],"id":"60383c3d-5e2d-4350-9fbb-84316720a35d","name":"Informações Iniciais"},{"parameters":{"operation":"get","tableId":"Cliente","filters":{"conditions":[{"keyName":"telefone","keyValue":"={{ $json.telefoneCliente }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3740,-1280],"id":"98d07768-172a-4dc9-9e02-70e4a1e8a0ef","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"W40Vqz7D7quG7v0S","name":"Supabase - LNC"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b34518c-f331-4bf1-8770-c296fbf4b39b","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3500,-1280],"id":"d3c2f4f0-a069-44c0-9c44-4793bca0c0e4","name":"Cliente Existe?"},{"parameters":{"tableId":"Cliente","fieldsUi":{"fieldValues":[{"fieldId":"telefone","fieldValue":"={{ $('Informações Iniciais').item.json.telefoneCliente }}"},{"fieldId":"ja_classificado","fieldValue":"false"},{"fieldId":"classificacao","fieldValue":"={{ $('Supabase').item.json.classificacao }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3220,-1140],"id":"5be9361d-3bfe-4187-bc2b-71b816a68633","name":"Criar Cliente","executeOnce":false,"credentials":{"supabaseApi":{"id":"W40Vqz7D7quG7v0S","name":"Supabase - LNC"}}},{"parameters":{"resource":"assistant","assistantId":{"__rl":true,"value":"asst_288swoPu9Sc3ks3vjuR2vvr3","mode":"list","cachedResultName":"Vendedor_LNC"},"prompt":"define","text":"={{ $('Informações Iniciais1').item.json.mensagem }}","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.7,"position":[-3280,-1380],"id":"0087379c-1845-40df-bbb7-db58fc21c077","name":"OpenAI","credentials":{"openAiApi":{"id":"v7f08akDjfrWKlNo","name":"OpenAi account - Uso Geral 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Informações Iniciais').item.json.telefoneCliente }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3020,-1220],"id":"22d36f63-ec99-4bba-a5ff-9324a9c62fcb","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"t0C7h4e8cYOfsTD1","name":"Postgres - LNC"}}},{"parameters":{"assignments":{"assignments":[{"id":"9d17cf5d-5031-4086-b805-2f854fc9982a","name":"telefoneCliente","value":"999998849","type":"string"},{"id":"a37c7698-88c6-459a-8f30-e2917d4d36a8","name":"mensagem","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4260,-1280],"id":"6ee2661b-724b-4fac-9ce3-b05ac6593dfe","name":"Informações Iniciais1"}],"connections":{"When chat message received":{"main":[[{"node":"Informações Iniciais1","type":"main","index":0}]]},"Informações Iniciais":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Cliente Existe?","type":"main","index":0}]]},"Cliente Existe?":{"main":[[{"node":"OpenAI","type":"main","index":0}],[{"node":"Criar Cliente","type":"main","index":0}]]},"Criar Cliente":{"main":[[{"node":"Informações Iniciais","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"OpenAI","type":"ai_memory","index":0}]]},"Informações Iniciais1":{"main":[[{"node":"Informações Iniciais","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"21e864e4-c3c0-4616-a689-f46b03c9f510","triggerCount":0,"tags":[{"createdAt":"2024-12-08T01:27:06.693Z","updatedAt":"2024-12-08T01:27:06.693Z","id":"7JINc5DAI6YYAp5e","name":"LNC"}]}