ringoia---classificador-manual---lnc-X9FhVeiqtYJRoXYK.json
{"createdAt":"2024-12-17T20:57:40.635Z","updatedAt":"2024-12-18T03:11:57.243Z","id":"X9FhVeiqtYJRoXYK","name":"RingoIA - Classificador Manual - LNC","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-2380,-320],"id":"9d812c04-82d2-4b5d-b67e-c0d8db9b9e5e","name":"Schedule Trigger"},{"parameters":{"operation":"getAll","tableId":"Cliente","returnAll":true,"filters":{"conditions":[{"keyName":"ja_classificado","condition":"eq","keyValue":"false"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-2160,-320],"id":"ccdc8f9f-5de0-407a-87fc-a399f68d1b1f","name":"Supabase","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"W40Vqz7D7quG7v0S","name":"Supabase - LNC"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1940,-320],"id":"d205cd4e-1d92-4eef-9424-82a79acaff53","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[-1720,-200],"id":"849cb66e-4d77-422e-a9a2-c8f7711978e6"},{"parameters":{"options":{"groupMessages":false}},"type":"@n8n/n8n-nodes-langchain.memoryManager","typeVersion":1.1,"position":[-1500,-200],"id":"e5404d74-e973-4394-8e5c-fd903ae41796","name":"Chat Memory Manager","alwaysOutputData":true},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Supabase').item.json.telefone }}"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1500,-40],"id":"8391358a-8652-48cb-affc-a671076f269c","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"t0C7h4e8cYOfsTD1","name":"Postgres - LNC"}}},{"parameters":{"inputText":"=## OurConversation:\n\n{\n  \"messages\": [\n    { \"human\": \"Olá, como você está?\", \"ai\": \"Estou bem, obrigado!\" },\n    { \"human\": \"Quero informações sobre o produto\", \"ai\": \"Claro! Qual produto você gostaria de saber mais?\" }\n  ]\n}\n","categories":{"categories":[{"category":"Muito Interessado","description":"Quando o Cliente demonstra estar muito interessado"},{"category":"Interessado","description":"Quando o Cliente demonstra estar apenas interessado"},{"category":"Pouco interessado","description":"Quando o Cliente  demonstra pouco interesse"},{"category":"Indefinido","description":"Quando não é possível definir se o Cliente está ou não interessado"}]},"options":{"systemPromptTemplate":"Avalie a conversa do cliente com a IA e indique em que ponto da compra o cliente está: Pronto para comprar - interessado mas sem decisão ainda, pouco interessado, indefinido."}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1,"position":[-1140,-200],"id":"fd5131f4-bf85-4086-9e5f-212d6a5e2bb0","name":"Text Classifier"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[-1140,-40],"id":"8b627996-6656-4366-9bf2-836ba0e78f4d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"v7f08akDjfrWKlNo","name":"OpenAi account - Uso Geral 2"}}},{"parameters":{"operation":"update","tableId":"Cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Replace Me').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"classificacao","fieldValue":"3"},{"fieldId":"ja_classificado","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-640,-280],"id":"2caa1e9d-8f5f-4fc7-a6a6-c1ff9ab601d8","name":"Supabase - Interessado","credentials":{"supabaseApi":{"id":"W40Vqz7D7quG7v0S","name":"Supabase - LNC"}}},{"parameters":{"operation":"update","tableId":"Cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Replace Me').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"classificacao","fieldValue":"5"},{"fieldId":"ja_classificado","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-640,80],"id":"76797757-527f-4b8a-9811-5fca6a24195a","name":"Supabase - Indefinido","credentials":{"supabaseApi":{"id":"W40Vqz7D7quG7v0S","name":"Supabase - LNC"}}},{"parameters":{"operation":"update","tableId":"Cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Replace Me').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"classificacao","fieldValue":"4"},{"fieldId":"ja_classificado","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-640,-100],"id":"92a07587-58ba-4155-8293-deb5ff95fab8","name":"Supabase - Pouco Interessado","credentials":{"supabaseApi":{"id":"W40Vqz7D7quG7v0S","name":"Supabase - LNC"}}},{"parameters":{"operation":"update","tableId":"Cliente","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('Replace Me').item.json.telefone }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"classificacao","fieldValue":"2"},{"fieldId":"ja_classificado","fieldValue":"true"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-640,-460],"id":"0a272c65-ea33-4d5d-be81-ff8590309e2d","name":"Supabase - Muito Interessado","credentials":{"supabaseApi":{"id":"W40Vqz7D7quG7v0S","name":"Supabase - LNC"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"classificacao","renameField":true,"outputFieldName":"Classificado"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-40,100],"id":"319a987a-25c3-42ba-a219-9a6177f35ea3","name":"Classificado"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Supabase","type":"main","index":0}]]},"Supabase":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Chat Memory Manager","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Chat Memory Manager","type":"ai_memory","index":0}]]},"Chat Memory Manager":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Supabase - Muito Interessado","type":"main","index":0}],[{"node":"Supabase - Interessado","type":"main","index":0}],[{"node":"Supabase - Pouco Interessado","type":"main","index":0}],[{"node":"Supabase - Indefinido","type":"main","index":0}]]},"Supabase - Muito Interessado":{"main":[[{"node":"Classificado","type":"main","index":0}]]},"Supabase - Interessado":{"main":[[{"node":"Classificado","type":"main","index":0}]]},"Supabase - Pouco Interessado":{"main":[[{"node":"Classificado","type":"main","index":0}]]},"Supabase - Indefinido":{"main":[[{"node":"Classificado","type":"main","index":0}]]},"Classificado":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"cc8ebdad-47dc-4af7-9dfe-3ed4d5bea8ee","triggerCount":0,"tags":[{"createdAt":"2024-12-08T01:27:06.693Z","updatedAt":"2024-12-08T01:27:06.693Z","id":"7JINc5DAI6YYAp5e","name":"LNC"}]}