cliente_dinastia/CKicpHVtPOSoIKYG.json
{
  "createdAt": "2025-01-25T22:37:55.491Z",
  "updatedAt": "2025-01-26T01:46:21.207Z",
  "id": "CKicpHVtPOSoIKYG",
  "name": "My workflow",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-ofir/v1/mensagem",
        "options": {}
      },
      "id": "5a5a3dfb-14e9-4a6d-b58a-550ba3d64306",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1600,
        360
      ],
      "webhookId": "81dd8066-f3ed-462b-a538-3bad57450e37"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2d7d0bb-f307-46cd-9a7e-6784493f0444",
              "name": "numero",
              "value": "={{ $json.body.data?.key?.remoteJid ?? $json.body.numero}}",
              "type": "string"
            },
            {
              "id": "50ac7a75-bfc7-4075-9245-ee2c94739474",
              "name": "evolutionApiKey",
              "value": "1BEA861EBC63-4328-A016-843243A247FC",
              "type": "string"
            },
            {
              "id": "d910cf27-2143-4aad-9838-72f671cca83a",
              "name": "pushName",
              "value": "={{ $('Webhook').item?.json?.body?.data?.pushName ?? \"Novo lead\" }}",
              "type": "string"
            },
            {
              "id": "c1bcd8a2-8818-4b95-a1cc-e7eb3d8aa48d",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1300,
        360
      ],
      "id": "0be4721b-1297-48d2-b9dd-2fa9f5315500",
      "name": "config"
    },
    {
      "parameters": {
        "content": "## Configuração",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1400,
        280
      ],
      "id": "6c4cf7f7-1402-4f20-b03a-e8447d6563a8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17b6fa1c-f4ea-4c75-9c9e-1a43900dbc58",
              "leftValue": "={{ $('Webhook').item.json.body.apikey }}",
              "rightValue": "={{ $json.evolutionApiKey }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "70c82c3b-7619-4b50-899f-17931323d19d",
              "leftValue": "={{ $('Webhook').item.json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2722e6a4-a1be-4207-b746-0ff3c6237416",
      "name": "auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1040,
        360
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ao_clientes",
          "mode": "list",
          "cachedResultName": "ao_clientes"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $('criar_cliente').item.json.body.numero }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1260,
        1580
      ],
      "id": "9213eee8-5f95-4c99-a279-5478c97493ba",
      "name": "Postgres",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "mgxUJp91OulKSJZt",
          "name": "Postgres - BlackSB"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1581cf30-cf13-4576-85f3-596fde5e0a5b",
              "name": "clienteNumero",
              "value": "={{ $json.numero }}",
              "type": "string"
            },
            {
              "id": "df687a37-1dce-4f4f-9c0e-249f6094f51b",
              "name": "clienteData",
              "value": "={{ $json.data }}",
              "type": "object"
            },
            {
              "id": "5932652e-f969-4e57-8848-d53136184603",
              "name": "clienteDepartamento",
              "value": "={{ $json.departamento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -880,
        1580
      ],
      "id": "461f54dd-a788-47c7-9322-6cf1d919e4cf",
      "name": "cliente"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f7a93cbd-d1d5-4b67-ab6a-83b6cec5ffb7",
              "leftValue": "={{ $json.clienteNumero }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -600,
        1800
      ],
      "id": "78e77871-07c4-4e8f-8a04-cf473dffd460",
      "name": "cliente_existente"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5ebd8843-19a7-4147-8ccd-fcb0e849f79c",
              "name": "clienteNumero",
              "value": "={{ $json.clienteNumero }}",
              "type": "string"
            },
            {
              "id": "9ab6c0a4-d5b4-493a-af98-8769b7882df4",
              "name": "clienteData",
              "value": "={{ $json.clienteData }}",
              "type": "object"
            },
            {
              "id": "3d17f8e5-f803-482d-9135-cb6a26741033",
              "name": "clienteDepartamento",
              "value": "={{ $json.clienteDepartamento }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        1580
      ],
      "id": "48e7b63d-b12e-49e3-8ad2-2c0574f33297",
      "name": "cliente_atualizado"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"clienteNumero\": \"{{ $json.clienteNumero }}\",\n  \"clienteData\": {{ JSON.stringify($json.clienteData) }},\n  \"clienteDepartamento\": \"{{ $json.clienteDepartamento }}\",\n  \"departamentos\": {{ JSON.stringify($json.departamentos) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -100,
        1820
      ],
      "id": "d27fd72f-dbeb-4fb3-8af6-822cfe253165",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "numero",
              "value": "={{ $json.numero }}"
            },
            {
              "name": "nome",
              "value": "={{ $json.pushName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -520,
        480
      ],
      "id": "4601a59f-c14a-4dc8-b749-e1ad95b827fe",
      "name": "puxar_cliente"
    },
    {
      "parameters": {
        "content": "## Gerenciar tabela ao_clientes",
        "height": 80,
        "width": 1760,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1560,
        1460
      ],
      "id": "9d9f7585-4fe0-457f-a1ae-734ab2bfb1df",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b3b35544-ab83-48d3-9615-140c0fb837ec",
                    "leftValue": "={{ $runIndex }}",
                    "rightValue": 4,
                    "operator": {
                      "type": "number",
                      "operation": "gt"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ERRO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee27e421-82c6-4241-af96-834c765cbecc",
                    "leftValue": "={{ $json.clienteDepartamento }}",
                    "rightValue": "=financeiro",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "financeiro"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f5575cab-6d32-4e51-aeeb-4d7a37587ce8",
                    "leftValue": "={{ $json.clienteDepartamento }}",
                    "rightValue": "comercial",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "comercial"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "88ceb60a-5aef-461c-b7de-bd1e0b375a31",
                    "leftValue": "={{ $json.clienteDepartamento }}",
                    "rightValue": "secretaria",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "secretaria"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e082338-f421-4bf8-9211-edd31b224248",
                    "leftValue": "={{ $json.clienteDepartamento }}",
                    "rightValue": "humano",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "humano"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -120,
        440
      ],
      "id": "5c3fb425-106f-4bbe-af6a-e9a00b972605",
      "name": "departamento"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2162b82e-a65b-4155-b504-149b5531157e",
              "name": "clienteNumero",
              "value": "={{ $('mensagem').item.json.clienteNumero }}",
              "type": "string"
            },
            {
              "id": "35deac04-51b5-4c72-9a5b-45eb00307d69",
              "name": "clienteData",
              "value": "={{ $('mensagem').item.json.clienteData }}",
              "type": "object"
            },
            {
              "id": "808a9de6-4181-4985-8e43-09fe9882b07e",
              "name": "clienteDepartamento",
              "value": "={{ $json.departamento }}",
              "type": "string"
            },
            {
              "id": "23c7cd7f-330a-4de9-a5b1-57b2f370962c",
              "name": "mensagem",
              "value": "={{ $json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        540
      ],
      "id": "86cb4a06-b8a7-474e-977e-71f4c310f730",
      "name": "agente_retorno"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9726544b-7774-43c6-b110-574e30e859be",
              "leftValue": "={{ $json.clienteDepartamento }}",
              "rightValue": "={{ $('departamento').item.json.clienteDepartamento }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        940,
        800
      ],
      "id": "325cac56-006a-4045-a3e3-d7bc7886edb4",
      "name": "transferir_cliente",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "content": "## CLICK UP - Integração",
        "height": 80,
        "width": 1920,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1540,
        2680
      ],
      "id": "215da82f-ab95-4872-9bcf-60bb971e82c2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-ofir/v1/clickup",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1520,
        2960
      ],
      "id": "f4fed401-41ad-424f-ac78-33869c802b8b",
      "name": "criar_ou_atualizar_lead",
      "webhookId": "d711bc48-5fc8-4f7f-8354-787ef9e828f6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "numero",
              "value": "={{ $('criar_ou_atualizar_lead').item.json.body.numero }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -920,
        2960
      ],
      "id": "b58e023c-2310-4d0d-b317-50a896f4d45c",
      "name": "puxar_cliente1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YXr7eKy7abzLW8Iu",
          "name": "Header Auth - AO"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('criar_ou_atualizar_lead').item.json.body.acao }}",
                    "rightValue": "CRIAR_LEAD",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "CRIAR_LEAD"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4009ce8a-a78c-4f83-9862-e86295c595ff",
                    "leftValue": "={{ $('criar_ou_atualizar_lead').item.json.body.acao }}",
                    "rightValue": "ADICIONAR_COMENTARIO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ADICIONAR_COMENTARIO"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "2854cd1c-b1c6-4851-97f7-fcc092066f9b",
                    "leftValue": "={{ $('criar_ou_atualizar_lead').item.json.body.acao }}",
                    "rightValue": "ATUALIZAR_CONSULTA_DATA",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ATUALIZAR_CONSULTA_DATA"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -720,
        2960
      ],
      "id": "6481fd72-0515-4c05-9c5f-562ae1625691",
      "name": "crm_acao"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-ofir/v1/cliente",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1540,
        1580
      ],
      "id": "138e941e-8566-4ee7-910c-0aba56155440",
      "name": "criar_cliente",
      "webhookId": "d711bc48-5fc8-4f7f-8354-787ef9e828f6"
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "agente-ofir/v1/cliente",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1540,
        2100
      ],
      "id": "1ff54ba3-6c89-4809-84ef-7a6408d0a7c1",
      "name": "atualizar_cliente",
      "webhookId": "d711bc48-5fc8-4f7f-8354-787ef9e828f6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "numero",
              "value": "={{ $json.numero }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1120,
        2100
      ],
      "id": "d3877bd7-f3e7-445f-bee3-801c631659b3",
      "name": "puxar_cliente2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ao_clientes (numero, data, departamento)\nVALUES ('{{ $('tratamento5').item.json.numero }}', '{{ $('tratamento5').item.json.data }}'::jsonb, '{{ $('tratamento5').item.json.departamento }}')\nON CONFLICT (numero) \nDO UPDATE SET \n    data = ao_clientes.data || EXCLUDED.data,\n    departamento = EXCLUDED.departamento,\n    updated_at = CURRENT_TIMESTAMP;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -920,
        2100
      ],
      "id": "44e9115d-bd0d-4511-b97a-5a760eccdc04",
      "name": "query_atualizar_data",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"sucesso\": {{ $json.success }} }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -720,
        2100
      ],
      "id": "7de7e030-4b50-4e27-a12b-5d7500ea0a9e",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $('criar_ou_atualizar_lead').item.json.body.numero }}\",\n  \"data\": {\n    \"crmId\": \"{{ $json.id }}\"\n  },\n  \"departamento\": \"{{ $('puxar_cliente1').item.json.clienteDepartamento }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        2780
      ],
      "id": "54ecfce6-1bb3-4bc6-93ca-3a99ce10e5c7",
      "name": "atualizar_cliente1"
    },
    {
      "parameters": {
        "team": "9012646112",
        "space": "90122567961",
        "folderless": true,
        "list": "901206791497",
        "name": "={{ $('criar_ou_atualizar_lead').item.json.body.data.nome }}",
        "additionalFields": {
          "assignees": [
            81321313
          ],
          "customFieldsJson": "=[ {\"id\": \"{{ $('config1').item.json.dinastiaClienteId }}\", \"value\": \"{{ $('criar_ou_atualizar_lead').item.json.body.numero }}\"} ]",
          "content": "=Telefone: {{ $('criar_ou_atualizar_lead').item.json.body.data.telefone }}",
          "startDate": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm\") }}",
          "startDateTime": "={{ true }}",
          "status": "novo lead"
        }
      },
      "id": "721cfdfc-2fb3-43a4-b534-50ae362f5a59",
      "name": "criar_lead_crm",
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -420,
        2780
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $json.clienteNumero }}\",\n  \"data\": {\n    \"departamentoOrigem\": \"{{ $('puxar_cliente').item.json.clienteDepartamento }}\",\n    \"departamentoDestino\": \"{{ $json.clienteDepartamento }}\"\n  },\n  \"departamento\": \"{{ $json.clienteDepartamento }}\",\n  \"outros\": { \n    \"mensagemAgente\": \"{{ $json.mensagem }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        180,
        780
      ],
      "id": "0f02b91f-7939-4fbd-94ec-7571f72151ef",
      "name": "atualizar_cliente2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5f457599-2e6d-46be-bde4-f922cc121bfa",
              "name": "clienteNumero",
              "value": "={{ $json.clienteNumero }}",
              "type": "string"
            },
            {
              "id": "9c034464-d953-4bd1-a622-e48a00528547",
              "name": "clienteData",
              "value": "={{ $json.clienteData }}",
              "type": "object"
            },
            {
              "id": "a4d2d45d-eb88-4ad8-8543-67973d515dab",
              "name": "clienteDepartamento",
              "value": "={{ $json.clienteDepartamento }}",
              "type": "string"
            },
            {
              "id": "9b795ede-9d27-43a0-a0aa-dafa04207222",
              "name": "mensagem",
              "value": "={{ $('tratamento').item.json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        480
      ],
      "id": "eeb73a80-6c1b-4651-9ebb-56c40849e93e",
      "name": "mensagem"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "784da313-0ddc-40d0-9422-22182af28f25",
              "name": "clienteNumero",
              "value": "={{ $('transferir_cliente').item.json.clienteNumero }}",
              "type": "string"
            },
            {
              "id": "dee352ee-f699-41ab-8291-98e9ec8b2b1c",
              "name": "clienteData",
              "value": "={{ $('transferir_cliente').item.json.clienteData }}",
              "type": "object"
            },
            {
              "id": "f6a08b10-b072-4d11-b4fb-dfc91ac4c7da",
              "name": "clienteDepartamento",
              "value": "={{ $('transferir_cliente').item.json.clienteDepartamento }}",
              "type": "string"
            },
            {
              "id": "36509cde-afaa-413a-b40f-bbb531375545",
              "name": "mensagem",
              "value": "={{ $('transferir_cliente').item.json.mensagem }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        780
      ],
      "id": "57ebe8ab-1d21-4c02-be82-86c2802c679a",
      "name": "tratamento_cliente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/clickup",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $('criar_cliente').item.json.body.numero }}\",\n  \"acao\": \"CRIAR_LEAD\",\n  \"data\": {\n    \"nome\": \"{{ $('criar_cliente').item.json.body.nome ?? \"Novo lead\" }}\",\n    \"telefone\": \"{{ $('criar_cliente').item.json.body.numero.split('@')[0] }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -880,
        1780
      ],
      "id": "1dccff97-3c6b-4125-b9d4-90d8200773d5",
      "name": "criar_lead_request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YXr7eKy7abzLW8Iu",
          "name": "Header Auth - AO"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"sucesso\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        180,
        2960
      ],
      "id": "72ae13a4-6023-4018-8ea0-5929ebcdfbb4",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2d7d0bb-f307-46cd-9a7e-6784493f0444",
              "name": "dinastiaClienteId",
              "value": "=80103ecd-c9c4-4f6d-a9d9-6b0737bded09",
              "type": "string"
            },
            {
              "id": "b26b7681-6ebe-420f-853c-562f5aa44117",
              "name": "consultaDataId",
              "value": "d57547f1-1a9d-4b76-99c8-37505785c2df",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1220,
        2960
      ],
      "id": "7e48d2ca-6dd2-4c8e-bcbf-683b14cadb0e",
      "name": "config1"
    },
    {
      "parameters": {
        "content": "## Configuração",
        "height": 300,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1320,
        2860
      ],
      "id": "2133451e-f1f5-4ee7-a8c1-5eff789c61a7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-ofir/v1/clickup",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1520,
        3160
      ],
      "id": "82c32685-64ba-4697-8a8f-89b32af6fe4e",
      "name": "criar_ou_atualizar_lead1",
      "webhookId": "d711bc48-5fc8-4f7f-8354-787ef9e828f6",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "comment",
        "commentOn": "task",
        "id": "={{ $json.clienteData.crmId }}",
        "commentText": "=IA: {{ $('criar_ou_atualizar_lead').item.json.body.data.comentario }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -420,
        2960
      ],
      "id": "954c9718-0db0-4389-906e-11b2951ea8f7",
      "name": "adicionar_comentario_crm"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b851e14f-8413-494b-b23d-7ad38bcad1bd",
              "leftValue": "={{ $('puxar_cliente2').item.json.clienteDepartamento }}",
              "rightValue": "={{ $('atualizar_cliente').item.json.body.departamento }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -520,
        2100
      ],
      "id": "9e414656-1e47-4e59-baf8-ce4a4240439f",
      "name": "foi_transferido"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/clickup",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $('puxar_cliente2').item.json.clienteNumero }}\",\n  \"acao\": \"ADICIONAR_COMENTARIO\",\n  \"data\": {\n    \"comentario\": \"{{ $json.comentario }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1320,
        2320
      ],
      "id": "03d2bf95-9a64-426e-90d9-488bc9753474",
      "name": "adicionar_comentario_request",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "constantsKeyName": "departamentos"
      },
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        -100,
        1580
      ],
      "id": "15de851f-3df6-4356-9cd3-56a921a9d547",
      "name": "departamentos"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const { departamentos, ...rest } = item.json;\n  const departamentosArray = [];\n\n  Object.entries(item.json.departamentos).forEach(([key, value]) => {\n    departamentosArray.push({\n      departamento: key,\n      regras: value\n    });\n  });\n\n  item.json = { departamentos: departamentosArray, ...rest }\n  \n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        1820
      ],
      "id": "9422cafc-b185-40d9-8ed8-c7badf2395ca",
      "name": "departamentos_tratamento"
    },
    {
      "parameters": {
        "content": "## Agente IA: Comercial",
        "height": 80,
        "width": 1200,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        1460
      ],
      "id": "246d5deb-a79d-449a-9a32-9a4486f24401",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "numero",
              "value": "={{ $json.body.numero }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        1580
      ],
      "id": "d4f1bd26-5813-47e7-9c04-362d876074c5",
      "name": "puxar_cliente4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem>{{ $('comercial_wh').item.json.body.mensagem }}</mensagem>",
        "options": {
          "systemMessage": "=Departamento atual: <departamento>{{ $json.clienteDepartamento }}</departamento>\n\n<departamentos>\n {{ $json.departamentos.map(item => `\n  <departamento_descricao>\n   <departamento>${item.departamento}</departamento>\n   <regra_de_transferencia>\n    ${item.regras}\n   </regra_de_transferencia>\n </departamento_descricao>\n`)  }}\n</departamentos>\n\n<contexto_sobre_odonotoclinic>\nHá quanto tempo a Odontoclinic Londrina está em atividade?\nResposta: A Odontoclinic Londrina está em atividade há mais de oito anos, oferecendo tecnologia e excelência em odontologia.\n\nQual é o grande diferencial da clínica para pacientes diabéticos e hipertensos?\nResposta: A Odontoclinic Londrina é a primeira clínica especializada em implantes dentários para diabéticos e hipertensos.\n\nQuais são os tratamentos oferecidos pela Odontoclinic Londrina?\nResposta: Os tratamentos incluem:\n\nOrtodontia\nAlinhadores\nLentes de contato dental\nToxina botulínica\nClareamento\nPróteses\nTratamento de canal\nExtração de siso\nPediatria\nRestaurações\nClínico geral\n\nQual é o benefício dos alinhadores em comparação aos aparelhos convencionais?\nResposta: Os alinhadores são práticos, rápidos, imperceptíveis e proporcionam um tratamento 25% mais rápido que os aparelhos convencionais.\n\nA extração de dentes do siso é dolorida na clínica?\nResposta: Não, a clínica oferece um protocolo indolor e diferenciado para a extração dos dentes do siso.\n\nComo a Odontoclinic trata as crianças?\nResposta: A clínica tem uma dentista exclusiva e especializada em pediatria, focada em transmitir confiança e tranquilidade às crianças, evitando traumas.\n\nQuem são as responsáveis pela Odontoclinic Londrina?\nResposta: As responsáveis são as irmãs Dra. Karine Schell e Dra. Karen Schell, empresárias, cristãs e mães que fundaram a clínica em 2015.\n\nQual é a experiência da Dra. Karine Schell?\nResposta: Dra. Karine Schell é Mestre e Especialista em Endodontia, com 17 anos de experiência e mais de 13.000 tratamentos de canal finalizados.\n\nQual é a especialidade da Dra. Karen Schell?\nResposta: Dra. Karen Schell é Especialista em Ortodontia, com 11 anos de experiência e mais de 3.000 tratamentos ortodônticos concluídos.\n\nOnde está localizada a Odontoclinic Londrina?\nResposta: A clínica está localizada na Rua Mato Grosso, 763 – Centro, Londrina – PR, e oferece estacionamento na Rua Mato Grosso, 717.\n\nComo entrar em contato para agendar uma consulta?\nResposta: É possível agendar pelo telefone (43) 3321-0025, pelo WhatsApp (43) 98813-7091 ou diretamente na clínica.\n\nQual é a missão da Odontoclinic Londrina?\nResposta: A missão da clínica é oferecer o melhor da odontologia com especialistas, tecnologia de ponta e materiais de alta qualidade, sempre mantendo valores de ambiente seguro, honestidade e ética.\n\nQual é o lema da Odontoclinic Londrina?\nResposta: “Sorria, a felicidade pertence a você.”\n\nQual é a visão da clínica em relação às restaurações dentárias?\nResposta: A clínica considera as restaurações dentárias como um aliado na prevenção de doenças graves, além de restaurar a qualidade de vida.\n\nQual é o foco no tratamento de canal da clínica?\nResposta: O tratamento de canal é realizado com conforto e tecnologia, sendo garantido que o procedimento na clínica não dói.\n\nO que diferencia o tratamento ortodôntico na Odontoclinic?\nResposta: A clínica tem expertise em oferecer tratamentos rápidos e eficientes, sem enrolação, utilizando os melhores aparelhos ortodônticos.\n\nQuais são os benefícios dos alinhadores oferecidos?\nResposta: Os alinhadores são práticos, rápidos, imperceptíveis e permitem um tratamento 25% mais rápido do que aparelhos convencionais.\n\nO que são lentes de contato dental e quais as vantagens?\nResposta: As lentes de contato dental garantem durabilidade e utilizam porcelana de alta qualidade para realçar sua melhor versão estética.\n\nPara quais fins a toxina botulínica é utilizada?\nResposta: A toxina botulínica é utilizada tanto para fins estéticos quanto para tratamentos como o de bruxismo, melhorando a qualidade de vida.\n\nPor que investir em clareamento dentário?\nResposta: O clareamento dentário é essencial para manter um sorriso impactante, considerado um dos principais acessórios e cartões de visita.\n\nComo as próteses dentárias podem melhorar a vida do paciente?\nResposta: As próteses fixas eliminam desconfortos, devolvendo autoconfiança para sorrir e mastigar sem medo.\n\nO tratamento de canal na clínica é doloroso?\nResposta: Não, a Odontoclinic proporciona conforto e tecnologia de ponta para garantir que o tratamento de canal seja indolor.\n\nA extração dos dentes do siso é tranquila?\nResposta: Sim, a clínica utiliza um protocolo diferenciado que garante uma extração de siso indolor e tranquila.\n\nComo a Odontoclinic atende as crianças?\nResposta: A clínica conta com uma dentista especializada em pediatria, garantindo um atendimento humanizado que transmite confiança e evita traumas.\n\nPor que as restaurações dentárias são importantes?\nResposta: As restaurações previnem doenças graves e também restauram a qualidade de vida dos pacientes, indo além da estética.\n\nQuais serviços são oferecidos pelo clínico geral?\nResposta: O clínico geral da Odontoclinic oferece protocolos personalizados para atender qualquer necessidade odontológica.\n</contexto_sobre_odontoclinic>\n\n<servicos>\n  <servico>\n    <nome>Ortodontia</nome>\n    <valor>R$ 350,00/mês (média de 24-36 meses)</valor>\n  </servico>\n  <servico>\n    <nome>Alinhadores</nome>\n    <valor>R$ 12.000,00 (tratamento completo)</valor>\n  </servico>\n  <servico>\n    <nome>Lentes de contato dental</nome>\n    <valor>R$ 2.500,00 (por dente)</valor>\n  </servico>\n  <servico>\n    <nome>Toxina botulínica</nome>\n    <valor>R$ 800,00 (por sessão)</valor>\n  </servico>\n  <servico>\n    <nome>Clareamento</nome>\n    <valor>R$ 900,00 (consultório + caseiro)</valor>\n  </servico>\n  <servico>\n    <nome>Próteses</nome>\n    <valor>R$ 2.000,00 (por elemento)</valor>\n  </servico>\n  <servico>\n    <nome>Tratamento de canal</nome>\n    <valor>R$ 1.200,00 (por dente)</valor>\n  </servico>\n  <servico>\n    <nome>Extração de siso</nome>\n    <valor>R$ 500,00 (por dente)</valor>\n  </servico>\n  <servico>\n    <nome>Restaurações</nome>\n    <valor>R$ 200,00 (por dente)</valor>\n  </servico>\n</servicos>\n\nVocê é a Jurema, integrante da equipe comercial da OdontoClinic Londrina. Você deve manter um tom amigável e profissional em todas as interações.\n\nO seu objetivo é tirar as dúvidas do cliente respondendo sobre produtos e serviço em <contexto_sobre_odontoclinic></contexto_sobre_odontoclinic> e <servicos></servicos>, identificar qual o serviço o cliente tem, atualizar o cadastro do cliente com o serviço identificado e apenas após a atualização do cadastro, então indicar o cliente para uma consulta.\n\nInicie a conversa de uma forma amigavel, pergunte sobre quais procedimentos baseado na lista de <servicos> o cliente teria interesse. \n\nUma vez identificado o interese, sem notificar o cliente, use a tool \"atualizar_interesse\" e passe o <nome> do <servico> identificado.\n\nApenas após a identificação do <servico> e atualizado, então faça uma sugestão para o cliente agendar uma consulta.\n\nAssim que identificar que o cliente deseja realizar uma consulta, transfira para o departamento secretaria.\n\nUse a calculadora sempre que precisar calcular os <valor> descritos no <servico>. A calculadora deve ser usada apenas para operações com INTEGERS\n\nSempre termine com uma pergunta aberta para criar maior engajamento.\n\nREGRAS PRINCIPAIS:\n\nMantenha respostas curtas e objetivas.\nSeja sempre cordial e prestativa.\nVocê deve avaliar a mensagem do cliente e decidir entre transferir ou responder diretamente.\n\nResponda apenas utlizando informações presentes em <contexto_sobre_odontoclinic></contexto_sobre_odontoclinic> e <servicos></servicos>.\n\nCaso não houver nenhuma informação presente em <contexto_sobre_odontoclinic></contexto_sobre_odontoclinic> e <servicos></servicos>, diga que irá solicitar uma ajuda de um outro colega seu e transfira para o departamente  \"humano\".\n\nPROCESSO DE DECISÃO:\n\nIdentifique a necessidade na mensagem\nConsulte as <regra_de_transferencia> \n\nEscolha entre as duas ações possíveis:\n\nApenas responder ao cliente com uma <mensagem>\n\nOu transferir o cliente de departamento e com uma <mensagem> para o departamento ao qual o cliente será transferido.\n\nNão informe ao cliente sobre a transferência.\n\nQuando houver uma <mensagemHumano></mensagemHumano> dentro de <mensagem></mensagem> responda o que estiver na <mensagemHumano></mensagemHumano> e continue no <departamento>{{ $json.clienteDepartamento }}</departamento>, não é para transferir o cliente para o departamento humano neste caso. Isto significa que um humano, responsável por este serviço respondeu ao cliente.\n\n\nResponda apenas usando o formato em JSON, sem aspas. Apenas o JSON.\n\n<output_schema>\n{ \n  \"mensagem\": STRING, \n  \"departamento\": STRING\n}\n</output_schema>\n\nCertifique-se de que na mensagem final ela está usando o formato descrito em <output_schema>.\n\n<exemplos>\n  <exemplo>\n  Human: Ola, eu gostaria de saber se voces possuem serviço para clareamento dental?\n  AI: { \"mensagem\": \"Olá! Aqui é Claudinéia da OdontoClinic Londrina. Sim, oferecemos serviços de clareamento dental. O clareamento é um dos grandes responsáveis pelo impacto de um belo sorriso. Você tem cuidado do seu? Estamos aqui para ajudar!\", \"departamento\": \"comercial\" }\n  </exemlo>\n<exemplo>\n  Human: Ola, eu gostaria de saber se voces possuem serviço para clareamento dental?\n  AI: { \"mensagem\": \"Olá! Aqui é Claudinéia da OdontoClinic Londrina. Sim, oferecemos serviços de clareamento dental. O clareamento é um dos grandes responsáveis pelo impacto de um belo sorriso. Você tem cuidado do seu? Estamos aqui para ajudar!\", \"departamento\": \"comercial\" }\n  Human: Eu tenho um problema bem específico no meu dente, acho que irá precisar de uma cirurgia avançada e aplicada com brocas de ouro. Como posso fazer?\n  AI: { \"mensagem\": \"Cliente com um problema específico, interessado em uma cirurgia dental. Informou que precisaria de brocas de ouro.\", \"departamento\": \"humano\" }\n  </exemlo>\n<exemplo>\n  Departamento atual: <departamento>teste</departamento>\n  Human: <mensagemHumano>Voce precisa de uma ajuda espeecializada</mensagemHumano>\n  AI: { \"mensagem\": \"Voce precisa de uma ajuda espeecializada\": \"teste\" }\n  </exemlo>\n<exemplos>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1120,
        1580
      ],
      "id": "bc9f362d-75dc-4e6f-a763-e92d0f6841b2",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        980,
        1780
      ],
      "id": "c4dfc902-5b09-411f-94d1-aa1ccc9629a3",
      "name": "OpenAI Chat Model2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.clienteNumero }}",
        "tableName": "ao_comercial_chat"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1140,
        1780
      ],
      "id": "9c503642-13d5-42dc-8987-77ab8037cbff",
      "name": "Postgres Chat Memory1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-ofir/v1/comercial",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        680,
        1580
      ],
      "id": "8ff0d310-8b45-426f-8243-5bab6d376760",
      "name": "comercial_wh",
      "webhookId": "d711bc48-5fc8-4f7f-8354-787ef9e828f6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/comercial",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $json.clienteNumero }}\",\n  \"mensagem\": \"{{ $json.mensagem }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        180
      ],
      "id": "81a585c3-22a9-4857-8620-192753bcf38c",
      "name": "ia_comercial"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "81ec2d50-b144-42d3-a071-1b0857369727",
              "leftValue": "={{ $('atualizar_cliente').item.json.body.departamento }}",
              "rightValue": "humano",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        2320
      ],
      "id": "a5c764a7-6aa7-432c-8b61-a0462d4c23c0",
      "name": "notificar_quando_for_humano"
    },
    {
      "parameters": {
        "putAllInOneKey": false
      },
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        -920,
        2300
      ],
      "id": "1bb8a737-7c6c-49da-9692-71a58e8acbdf",
      "name": "Global Constants"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8467648-c567-4716-a3b1-c18170e682f3",
              "name": "comentario",
              "value": "=Transferido de '{{ $('puxar_cliente2').item.json.clienteDepartamento }}' para '{{ $('atualizar_cliente').item.json.body.departamento }}'. Mensagem do Agente: '{{ $('atualizar_cliente').item.json.body.outros.mensagemAgente }}'. {{ $('atualizar_cliente').item.json.body.departamento === \"humano\" ? 'O que o agente deve responder neste caso?' : '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        2080
      ],
      "id": "feaaff79-34a0-46c0-86aa-8c7272b6ef2a",
      "name": "comentario_transferencia"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6cbe8e0-9331-4015-aed9-22cfec90a6d1",
              "name": "departamento",
              "value": "=humano",
              "type": "string"
            },
            {
              "id": "c7fbf816-9505-4d98-b47a-1abbcf5c22f0",
              "name": "mensagem",
              "value": "Só um momento, estarei verificando como podemos lhe ajudar.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        540
      ],
      "id": "a7c8b615-565e-431b-ae84-723c97a1e45c",
      "name": "humano"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7f332c70-b70e-40dd-8c40-fdf104b36806",
              "leftValue": "={{ $json.history_items[0].comment.text_content }}",
              "rightValue": "IA:",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1300,
        3640
      ],
      "id": "e83ec833-ed7c-4932-beb1-cf27e1447fea",
      "name": "comentario_humano"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM ao_clientes\nWHERE DATA ->> 'crmId' = '{{ $json.history_items[0].comment.parent }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1040,
        3620
      ],
      "id": "3ad7274f-4988-4a71-b413-48d111cfd20e",
      "name": "cliente1"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $json.numero }}\",\n  \"data\": {\n    \"departamentoOrigem\": \"humano\",\n    \"departamentoDestino\": \"{{ $json.data.departamentoOrigem }}\"\n  },\n  \"departamento\": \"{{ $json.data.departamentoOrigem }}\",\n  \"outros\": { \n    \"mensagemAgente\": \"Mensagem respondida\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        3820
      ],
      "id": "1d34098b-3ae5-417a-a8c1-bbdb29086013",
      "name": "atualizar_cliente3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-ofir/v1/agente",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1040,
        640
      ],
      "id": "84da87c1-bcc8-4bbc-bed0-c27f367b6e2e",
      "name": "rodar_agente",
      "webhookId": "d711bc48-5fc8-4f7f-8354-787ef9e828f6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "300daa9a-1196-4fdc-aa73-576d335ae5d3",
              "name": "mensagem",
              "value": "={{ $json.mensagem ?? $json.body.mensagem }}",
              "type": "string"
            },
            {
              "id": "8d09f964-1c63-4d61-8c67-36f59193788f",
              "name": "numero",
              "value": "={{ $json.numero ?? $json.body.numero }}",
              "type": "string"
            },
            {
              "id": "708eb996-fdf7-4811-b93a-dc6853942cfb",
              "name": "pushName",
              "value": "={{ $json.pushName ?? \"Novo lead\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        480
      ],
      "id": "d232b17e-e8e0-4006-8d0f-8222d2902bf8",
      "name": "tratamento"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/agente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $('cliente1').item.json.numero }}\",\n  \"mensagem\": \"<mensagemHumano>{{ $('novo_comentario').item.json.history_items[0].comment.comment[0].text }}</mensagemHumano>\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        3820
      ],
      "id": "32fb1e0c-6009-41fd-bc8c-f6b6a2ca502a",
      "name": "rodar_agente_request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"mensagem\": \"{{ $json.mensagem }}\",\n  \"departamento\": \"{{ $json.departamento }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1720,
        1580
      ],
      "id": "3ca89256-a69f-4583-8f86-754a7dcc98da",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "content": "## Agente IA: Secretaria (agendamentos)",
        "height": 80,
        "width": 1920,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        2020
      ],
      "id": "7bd4866c-2337-4aa3-b6b1-98c5e061ac3a",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "numero",
              "value": "={{ $('secretaria_wh').item.json.body.numero }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        2320
      ],
      "id": "85ca3488-a305-490c-a7ef-c74adedb8d36",
      "name": "puxar_cliente5"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        540,
        2820
      ],
      "id": "b5167eb5-36f2-4d46-8a85-56e3ae374e9d",
      "name": "OpenAI Chat Model3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.clienteNumero }}",
        "tableName": "ao_secretaria_chat",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        700,
        2820
      ],
      "id": "6e10c9ed-b7a8-457e-a471-1386f94d24be",
      "name": "Postgres Chat Memory2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"mensagem\": \"{{ $json.mensagem }}\",\n  \"departamento\": \"{{ $json.departamento }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1220,
        2560
      ],
      "id": "2f926ae0-3bad-4286-bca6-ab82ba0f3cd6",
      "name": "Respond to Webhook5"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para deletar eventos e consultas no calendário usando o eventId",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI(\"calendarioId\",\"<calendario><calendarioId></calendarioId></calendario>\") }}",
          "mode": "id"
        },
        "eventId": "={{ $fromAI(\"eventId\",\"Id do evento que deve ser excluído\") }}",
        "options": {}
      },
      "id": "63795e28-eb00-405e-a568-2568f004d346",
      "name": "Deletar Evento1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.1,
      "position": [
        960,
        2820
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para criar novas consultas no calendário.",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI(\"calendarioId\",\"<calendario><calendarioId></calendarioId></calendario>\") }}",
          "mode": "id"
        },
        "start": "={{ $fromAI(\"Start_Time\",\"Horário inicial do evento ex.:2024-10-08 00:00:00\") }}",
        "end": "={{ $fromAI(\"End_Time\",\"Horário final do evento ex.:2024-10-08 00:01:00\") }}",
        "additionalFields": {
          "attendees": [
            "={{ $('puxar_cliente5').item.json.clienteData.email }}"
          ],
          "summary": "=pendente | Consulta agendada. Telefone {{ $('puxar_cliente5').item.json.clienteNumero.split(\"@\")[0] }}\n"
        }
      },
      "id": "e6ad0135-7d53-4ec8-a768-50a7b15f9479",
      "name": "Criar Eventos1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.1,
      "position": [
        1220,
        2820
      ]
    },
    {
      "parameters": {},
      "id": "3754a1cd-8553-4192-b599-68754082974a",
      "name": "Calculator1",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        820,
        2820
      ]
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para consultar datas e disponibilidade para novas consultas ou apenas para checar o que já foi agendado. Este ferramenta irá retornar todas as consultas no perído selecionado",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI(\"calendarioId\",\"<calendario><calendarioId></calendarioId></calendario>\") }}",
          "mode": "id"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $fromAI(\"Initital_DateTime\", \"Data e hora inicial da consulta Ex.: 2024-10-17 00:00:00\") }}",
          "timeMax": "={{ $fromAI(\"Final_DateTime\", \"Data e hora final da consulta Ex.: 2024-10-17 00:00:00\") }}",
          "query": ""
        }
      },
      "id": "45961461-13d5-47a3-a0ef-bd16b08d4db5",
      "name": "get_many",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        1100,
        2820
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-ofir/v1/secretaria",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        680,
        2320
      ],
      "id": "2319c747-c47d-4417-a36f-5abcb251713c",
      "name": "secretaria_wh",
      "webhookId": "d711bc48-5fc8-4f7f-8354-787ef9e828f6"
    },
    {
      "parameters": {
        "team": "9012646112",
        "events": [
          "taskCommentPosted"
        ],
        "filters": {}
      },
      "type": "n8n-nodes-base.clickUpTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        3640
      ],
      "id": "f5b730c8-de81-4fd0-9d39-c213b5141c64",
      "name": "novo_comentario",
      "webhookId": "1987f979-340c-48a4-98e1-17438e81017a"
    },
    {
      "parameters": {
        "content": "## Manutenção das talelas do database - ofir\n",
        "height": 380,
        "width": 680,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1560,
        1040
      ],
      "id": "8c885308-c15a-408f-b70d-48e5943c7ec8",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "rodar para criar tabela \"ao_clientes\"",
        "height": 274.7923843700217,
        "width": 273.1627906976745,
        "color": 4
      },
      "id": "14c9cd2a-879a-4df1-8838-a13a23c6d503",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        1100
      ]
    },
    {
      "parameters": {
        "content": "rodar para limpar todas as tabelas",
        "height": 274.7923843700217,
        "width": 273.1627906976745,
        "color": 3
      },
      "id": "6ae99445-40c8-4691-9b4b-eacdf67a41ed",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1220,
        1100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Drop the table if it exists\nDROP TABLE IF EXISTS ao_clientes;\n\n-- Create the table\nCREATE TABLE ao_clientes (\n    numero VARCHAR PRIMARY KEY,\n    departamento VARCHAR,\n    data JSONB DEFAULT '{}',\n    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,\n    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP\n);\n\n-- Create trigger function to automatically update updated_at\nCREATE OR REPLACE FUNCTION update_updated_at_column_ao_clientes()\nRETURNS TRIGGER AS $\nBEGIN\n    NEW.updated_at = CURRENT_TIMESTAMP;\n    RETURN NEW;\nEND;\n$ language 'plpgsql';\n\n-- Create trigger that calls the function before each update\nCREATE TRIGGER update_updated_at_column_ao_clientes\n    BEFORE UPDATE ON ao_clientes\n    FOR EACH ROW\n    EXECUTE FUNCTION update_updated_at_column_ao_clientes();",
        "options": {}
      },
      "id": "8914cb9e-e172-4580-bd4d-aeaae47506e6",
      "name": "criar_ao_clientes",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1440,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DO $\nBEGIN\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_recepcionista_chat') THEN\n        DELETE FROM ao_recepcionista_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_comercial_chat') THEN\n        DELETE FROM ao_comercial_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_secretaria_chat') THEN\n        DELETE FROM ao_secretaria_chat;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_clientes') THEN\n        DELETE FROM ao_clientes;\n    END IF;\n\n    IF EXISTS (SELECT FROM pg_tables WHERE schemaname = 'public' AND tablename = 'ao_financeiro_chat') THEN\n        DELETE FROM ao_financeiro_chat;\n    END IF;\nEND $;",
        "options": {}
      },
      "id": "1af6105e-bbbc-4c30-9c7f-dd5a6bf82820",
      "name": "limpar_todas_as_tabelas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1140,
        1180
      ]
    },
    {
      "parameters": {
        "operation": "setCustomField",
        "task": "={{ $json.clienteData.crmId }}",
        "field": "={{ $('config1').item.json.consultaDataId }}",
        "value": "={{ $('criar_ou_atualizar_lead').item.json.body.data.consultaData.toDateTime().format('x') }}"
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -420,
        3180
      ],
      "id": "0d37f965-0ff1-43ae-b1df-2844bce85dae",
      "name": "atualizar_consulta_data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4468a981-b3b4-404f-93d7-0c21b6a11cc1",
              "leftValue": "={{ $('tratamento4').item.json.eventId }}",
              "rightValue": "eventId",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1420,
        2560
      ],
      "id": "39109c32-07ee-4179-9105-2e5d8bd3a66e",
      "name": "novo_evento"
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "={{ $json.calendarioId }}",
          "mode": "id"
        },
        "eventId": "={{ $json.eventId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        1640,
        2540
      ],
      "id": "e5107345-6eeb-4af1-8d8e-092945f7fbcd",
      "name": "puxar_consulta"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/clickup",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $('puxar_cliente5').item.json.clienteNumero }}\",\n  \"acao\": \"ATUALIZAR_CONSULTA_DATA\",\n  \"data\": {\n    \"consultaData\": \"{{ $json.start.dateTime }}\",\n    \"calendarioNome\": \"{{ $('tratamento4').item.json.calendarioNome }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        2540
      ],
      "id": "8fa73349-86ae-4453-a555-a80f3ff29b75",
      "name": "atualizar_consultaData_request"
    },
    {
      "parameters": {
        "resource": "comment",
        "commentOn": "task",
        "id": "={{ $('puxar_cliente1').item.json.clienteData.crmId }}",
        "commentText": "=IA: Consulta Agendada para {{ $('criar_ou_atualizar_lead').item.json.body.data.consultaData.toDateTime().format('dd/MM/yyyy hh:mm:ss')}} com {{ $('criar_ou_atualizar_lead').item.json.body.data.calendarioNome }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -220,
        3180
      ],
      "id": "00fe966f-8c15-4797-83a9-cf7ad07ccc52",
      "name": "adicionar_comentario_crm1"
    },
    {
      "parameters": {
        "operation": "update",
        "id": "={{ $('puxar_cliente1').item.json.clienteData.crmId }}",
        "updateFields": {
          "status": "AGENDADOS"
        }
      },
      "type": "n8n-nodes-base.clickUp",
      "typeVersion": 1,
      "position": [
        -40,
        3180
      ],
      "id": "6ec65d5d-561a-4849-97ff-524a5abab249",
      "name": "mudar_de_funil"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('novo_comentario').item.json.history_items[0].comment.comment[0].text }}",
                    "rightValue": "pausar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "PAUSAR"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4e2abc0f-6c42-4801-9975-e5b0b269e4a2",
                    "leftValue": "={{ $('novo_comentario').item.json.history_items[0].comment.comment[0].text }}",
                    "rightValue": "ativar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": "={{ true }}",
              "outputKey": "ATIVAR"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -820,
        3620
      ],
      "id": "853472e3-c6f3-4b62-a14d-a9de5f1a856b",
      "name": "comandos"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $json.numero }}\",\n  \"data\": {\n    \"departamentoOrigem\": \"{{ $json.departamento }}\",\n    \"departamentoDestino\": \"humano\"\n  },\n  \"departamento\": \"humano\",\n  \"outros\": { \n    \"mensagemAgente\": \"Conversa pausada.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        3440
      ],
      "id": "a86c63a6-3013-4d5c-99df-fcc0f82d0ba0",
      "name": "atualizar_cliente4"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $json.numero }}\",\n  \"data\": {\n    \"departamentoOrigem\": \"humano\",\n    \"departamentoDestino\": \"{{ $json.data.departamentoOrigem }}\"\n  },\n  \"departamento\": \"{{ $json.data.departamentoOrigem }}\",\n  \"outros\": { \n    \"mensagemAgente\": \"Conversa ativada.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        3620
      ],
      "id": "aedfcf02-9c8e-4032-a2f3-09d058a7ea1f",
      "name": "atualizar_cliente5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f17d77b-0e6d-4651-9229-5c2ea486cfc2",
              "name": "calendarios",
              "value": "[\n { \"nome\": \"karen\", \"calendarioId\": \"c_4602a434f108be560618c473412d58a61936b831423835cdb41a3641987111f0@group.calendar.google.com\" },\n { \"nome\": \"karine\", \"calendarioId\": \"c_f1584a79804ce179cfa693d02395eba6f339089502d9847ba95892c1394d9605@group.calendar.google.com\" },\n { \"nome\": \"ketlin\", \"calendarioId\": \"c_93967bd84f0b8c99013ff00ea03877bf9452521d29a50aac7d695f5b2e69d443@group.calendar.google.com\" }\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        2320
      ],
      "id": "ff3f5a27-d620-40c6-8596-a7cda79ddc36",
      "name": "config2"
    },
    {
      "parameters": {
        "content": "## Configuração",
        "height": 240,
        "width": 190
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        880,
        2240
      ],
      "id": "935288a9-230a-4466-9115-05a453c1ae8b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.calendarioSorteio = item.json.calendarios[Math.floor(Math.random() * item.json.calendarios.length)]\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        2320
      ],
      "id": "ef449169-2f1a-4dec-8eda-01fe40e779ac",
      "name": "sorteio_calendario"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const output = JSON.parse(item.json.output);\n\n  let mensagem = output.mensagem;\n\n  // Foi transferido de departmaneto? Então devemos utilizar a mensagem do cliente para \n  // ser encaminhada ao próximo agente e não a mensagem do agente atual.\n  // \n  // Esta condicional checa se o departamento mudou.\n  if ($('puxar_cliente5').item.json.clienteDepartamento !== output.departamento) {\n    mensagem = $('secretaria_wh').item.json.body.mensagem;\n    output.mensagem = mensagem;\n  }\n  \n  item.json = output;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        2560
      ],
      "id": "c21ffe94-ba44-4704-81f4-90546e3b09ce",
      "name": "tratamento4"
    },
    {
      "parameters": {
        "errorMessage": "Infinity looping"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "50a047e3-6d8b-4364-b293-9da5f0d7deb4",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem>{{ $('secretaria_wh').item.json.body.mensagem }}</mensagem>",
        "options": {
          "systemMessage": "=Departamento atual: <departamento>{{ $json.clienteDepartamento }}</departamento>\n\n<departamentos>\n {{ $json.departamentos.map(item => `\n  <departamento_descricao>\n   <departamento>${item.departamento}</departamento>\n   <regra_de_transferencia>\n    ${item.regras}\n   </regra_de_transferencia>\n </departamento_descricao>\n`)  }}\n</departamentos>\n\n<calendarios>\n{{ $('config2').item.json.calendarios.map(item => `\n    <calendario>\n      <nome>${item.nome}</nome>\n      <calendarioId>${item.calendarioId}</calendarioId>\n    </calendario>\n`) }}\n</calendarios>\n\n<REGRAS_PRINCIPAIS>\n\n<INSTRUCAO> Você é uma secretária virtual projetada para gerenciar de forma eficiente e amigável os agendamentos e cancelamentos de consultas. Seu nome é \"Jurema\" e você trabalha para a OdontoClinic Londrina.\n\nFocada em oferecer uma experiência prática e personalizada, o assistente exibe horários disponíveis, pergunta se o cliente concorda com a data e hora antes de confirmar o agendamento e fornece todos os detalhes essenciais após a marcação.\n\nPergunte ao cliente se ele possui alguma preferência por algum profissional que esteja listado em <calendarios></calendarios>. \n\nCaso não possuir, escolha o calendario: {{ $('sorteio_calendario').item.json.calendarioSorteio.nome }}, calendarioId: {{ $('sorteio_calendario').item.json.calendarioSorteio.calendarioId }}. \n\nUse o <calendarioId></calendarioId> na hora de buscar, criar e deletar eventos.\n\nO assistente também respeita o formato brasileiro de data e hora (DD/MM/AAAA e HH) e opera no fuso horário \"America/Sao_Paulo\".\n\nSempre verifica as datas disponiveis no calendário antes de oferecer ao cliente.\n\nhorário de funcionamento:\nSegunda a sexta: das 8h às 21h.\nSábado: das 8h às 12h. nunca agende fora do horario de funcionamento.\n\nUse como referencia para a data e hora atual: <currentDateTime>{{ (() => {\n  const date = new Date(); // Obtém a data atual\n  const days = ['domingo', 'segunda-feira', 'terça-feira', 'quarta-feira', 'quinta-feira', 'sexta-feira', 'sábado']; // Dias da semana em português\n  const pad = n => n.toString().padStart(2, '0'); // Adiciona zero à esquerda\n  const dayName = days[date.getDay()]; // Obtém o nome do dia\n  const year = date.getFullYear();\n  const month = pad(date.getMonth() + 1); // Mês começa em 0\n  const day = pad(date.getDate());\n  const hours = pad(date.getHours());\n  const minutes = pad(date.getMinutes());\n  const seconds = pad(date.getSeconds());\n  return `${dayName}, ${year}-${month}-${day} ${hours}:${minutes}:${seconds}`; // Retorna no formato desejado\n})() }}</currentDateTime>\n\nNunca agende nada antes de: {{ $now }}\n\nfaça agendamentos de 30 minutos de duração.\nse o horario pedido pelo cliente ja tiver alguma consulta marcada, sugira o mais proximo 30 minutos antes ou 30 minutos depois da consulta existente, mas esta proibido marcar em um horario que ja exista uma consulta\n\nPergunte se o cliente pode confirmar, mas não confirme diretamente a consulta.\n\nSempre utilize o timezone \"America/Sao_Paulo\" para todas as operações.\n\nSempre utilize a tool Calculator1 para calcular diferença de datas, horarios e dias. Apenas use numero inteiros para calcular valores.\n\n<AGENDAMENTO>\nPara pesquisar as datas de um evento no calendário, sempre utilize a tool Calculator1.\n\nAssim que voce agendar uma consulta, repasse as informações sobre a consulta, como profissional, data e hora e pergunte se já poderia gerar o PIX para o pagamento. \n\nAssim que o cliente confirmar, transfira ele para o departamento financeiro.\n</AGENDAMENTO>\n\n<REAGENDAMENTO>\nDe acordo com o histórico de mensagens, siga o processo de reagendamento nesta ordem:\n1. use a calculadora(apenas some numeros inteiros, sem usar textos) para identificar a data e hora especifica que o cliente gostaria de marcar a <NOVA_CONSULTA>.\n2. Busque todos os eventos apartir do horario da <NOVA_CONSULTA> até para os próximos 2 dias.\n2.1 Utilize a ferramenta \"get_many\" que irá retornar quais consultas existem no perídodo selecionado. Caso ela retornar um array vazio [] significa que a agenda da profissional está vazia.\n2.2 Caso já houver uma consulta no mesmo horário, sugira uma data mais próxima.\n2.3 Caso não houver nenhuma consulta no mesmo horário, confirme com o usuário a <NOVA_CONSULTA>.\n3. Quando o usário confirmar, delete a consulta anterior usando o eventId. Crie a <NOVA_CONSULTA>.\n</REAGENDAMENTO>\n\n<CANCELAMENTO>\nBaseado no histórico de mensagens, extraia as informações do evento a ser cancelado (data, hora e eventId).\nCaso não localize o evento, retorne false com uma mensagem de erro.\n</CANCELAMENTO>\n\n<CONFIRMACAO>\nEscreva mensagens breves e cordiais confirmando a consulta com base no evento já agendado, respeitando o timezone America/Sao_Paulo.\n</CONFIRMACAO>\n\n<AGENDAMENTOS>\nQuando a <mensagem></mensagem> for algo parecido com \"Ola tudo bem? Eu estou precisando fazer uma limpesa dental, como q eu façø? Tem agendamento?\"\n\nApenas realize uma busca até o próximo dia útil e informe a data mais próxima para um possivel agendamento.\n</AGENDAMENTOS>\n\n<FALLBACK>\nCaso você não identificar nenhunma intenção especifican relacionado a agendamentos, realize uma busca dos próximos agendamentos até o próximo dia útil e retorne a data disponível mais próxima para ser agendada.\n</FALLBACK>\n\n<TROCA_DE_PROFISSIONAL>\nCaso o cliente queira mudar de profissional, use as regras de <REAGENDAMENTO></REAGENDAMENTO> com o calendarioId da profissional que ele queira, antes de realizar a troca.\n</TROCA_DE_PROFISSIONAL>\n\nExceções:\n\nCaso identifique uma situação específica de exceção, encaminhe para o departamento humano.\n\nRegras Importantes:\n\nSeja cordial e direta.\nResponda sempre no timezone: America/Sao_Paulo.\nNunca confirme agendamentos automaticamente; peça confirmação ao cliente.\nApenas responda sobre agendamentos; ignore qualquer outro contexto.\nRetorne mensagens no formato JSON, sem aspas ou informações adicionais.\n\nExemplo de Resposta:\n\n<departamento>teste</departamento>\nHuman: Pode marcar uma reunião para terça às 14h?\nAI: { \"mensagem\": \"Terça-feira às 14h está disponível. Poderia confirmar esse horário?\", \"departamento\": \"teste\" }\n\n<OUTPUT>\nExemplo quando uma consulta for agendada e tiver um eventId da ferramenta, inserir o eventId no JSON conforme o Exemplo:\n\n<output_format_eventId>\n{ \"mensagem\": \"message from AI\", \"departamento\": \"departamento\", \"eventId\": \"id\",  \"calendarioId\": \"id\", \"calendarioNome\": \"nome\" }\n</output_format_eventId>\n\n<output_format_eventId_example>\n{ \"mensagem\": \"message from AI\", \"departamento\": \"teste\", \"eventId\": \"87aw898ad807d80s\",  \"calendarioId\": \"c_f1584a79804ce179cfa693d02395eba6f339089502d9847ba95892c1394d9605@group.calendar.google.com\"\", \"calendarioNome\": \"Flavia\" }\n</output_format_eventId_example>\n\n<output_schema>\n{ \n  \"mensagem\": STRING, \n  \"departamento\": STRING, \n  \"eventId\": STRING|UNDEFINED,\n  \"calendarioId\": STRING|UNDEFINED,\n  \"calendarioNome\": STRING|UNDEFINED \n}\n</output_schema>\n\n</OUTPUT>\n\nCertifique-se de que na mensagem final ela está usando o formato descrito em <OUTPUT>.\n\n</REGRAS_PRINCIPAIS>\n\n\n<PROCESSO_DE_DECISAO>\n\nConsulte as <regra_de_transferencia> \n\nEscolha entre as duas ações possíveis:\n\nApenas responder ao cliente com uma mensagem\n\nOu transferir o cliente de departamento e com uma mensagem para o departamento ao qual o cliente será transferido.\n\nNão informe ao cliente sobre a transferência.\n\nQuando houver uma <mensagemHumano></mensagemHumano> dentro de <mensagem></mensagem> responda o que estiver na <mensagemHumano></mensagemHumano> e continue no <departamento>{{ $json.clienteDepartamento }}</departamento>, não é para transferir o cliente para o departamento humano neste caso. Isto significa que um humano, responsável por este serviço respondeu ao cliente.\n\n</PROCESSO_DE_DECISAO>\n\nNão invente nenhuma informação que não foi dada neste system_prompt.\n\nCaso você não souber a informação, consulte <regra_de_transferencia> para transferir o cliente para algum outro departamento.\n\n# PAYMENT STAUTS:\n- Quando receber dentro de </mensagem> a informação <paymentStatus>OVERDUE</paymentStatus>. Deletar o eventId anteriormente agendado e informar ao cliente de que infelizmente não foi possivel localizar o seu pagamento e neste caso, o pré-agendamento que estava como pendente foi excluido. Perguntar se gostaria de fazer um novo agendamento.\n- Quando receber dentro de </mensagem> a informação <paymentStatus>RECEIVED</paymentStatus>. user a ferramenta tool \"update_calendar\" para atualziar o eventId de pendente para confirmado. Informar ao cliente de que já recebemos o seu pagamento e acabamos de confirmar a sua consulta.\n\n<exemplos>\n  <exemplo>\n    Departamento atual: <departamento>secretaria</departamento>\n    Human: <paymentStatus>OVERDUE</paymentStatus><paymentId>pay_qazvdudbcqa17x7r</paymentId>\n    AI: Deletar Evento1 tool call\n    AI: { \"mensagem\": \"Olá Rangel, infelizmente não foi possivel localizar o seu pagamento e neste caso, o pré-agendamento que estava como pendente foi excluido. Gostaria de fazer um novo agendamento?\", \"departamento\": \"secretaria\" }\n  </exemlo>\n  <exemplo>\n    Departamento atual: <departamento>secretaria</departamento>\n    Human: <paymentStatus>RECEIVED</paymentStatus><paymentId>pay_qazvdudbcqa17x7r</paymentId>\n    AI: update_calendar tool call\n    AI: { \"mensagem\": \"Olá Rangel, gostaria de informar que já recebemos o seu pagamento e acabamos de confirmar a sua consulta\", \"departamento\": \"secretaria\" }\n  </exemlo>\n  <exemplo>\n    Departamento atual: <departamento>teste</departamento>\n    Human: <mensagemHumano>Voce precisa de uma ajuda espeecializada</mensagemHumano>\n    AI: { \"mensagem\": \"Voce precisa de uma ajuda espeecializada\", \"departamento\": \"teste\" }\n  </exemlo>\n  <exemplo>\n    Departamento atual: <departamento>teste</departamento>\n    Human: Ola eu gostaria de agendar a minha consulta para o serviço de clareamento dental. Voces teriam disponibilidade para amanha pela manha?\n    AI: Calculator1 tool call -  Only INTEGERS\n    AI: get_many tool call\n    AI: { \"mensagem\": \"Amanhã pela manhã está disponível para o agendamento de um clareamento dental. Você gostaria de agendar para algum horário específico entre 8h e 12h?\", \"departamento\": \"teste\" }\n  </exemlo>\n  <exemplo>\n    Departamento atual: <departamento>teste</departamento>\n    Human: A eu tenho interesse sim. Poderia ser amanha as 10 da manha?\n    AI: Calculator1 tool call -  Only INTEGERS\n    AI: get_many tool call\n    AI: { \"mensagem\": \"Amanhã as 10h está disponível para o agendamento . Posso confirmar?\", \"departamento\": \"teste\" }\n  </exemlo>\n  </exemplo>\n  <exemplo>\n    Departamento atual: <departamento>teste</departamento>\n    Human: Eu preciso agendar o meu clareamento dental. teria disponibilidade para hoje de tarde? obrigado\n    AI: Calculator1 tool call -  Only INTEGERS\n    AI: get_many tool call\n    AI: { \"mensagem\": \"Hoje à tarde está disponível para o agendamento de um clareamento dental. Você gostaria de agendar para algum horário específico entre 13h e 21h?\", \"departamento\": \"teste\" }\n    Human: Pode ser as 13h.\n    AI: Calculator1 tool call -  Only INTEGERS\n    AI: { \"mensagem\": \"Sua consulta de clareamento dental foi agendada para hoje às 13h com a Flavia. Posso já gerar o PIX desta consulta?\", \"departamento\": \"teste\", \"eventId\": \"87aw898ad807d80s\",  \"calendarioId\": \"c_f1584a79804ce179cfa693d02395eba6f339089502d9847ba95892c1394d9605@group.calendar.google.com\"\", \"calendarioNome\": \"Flavia\" }\n    Human: Pode gerar sim.\n    AI: { \"mensagem\": \"Gerar o PIX para o cliente\", \"departamento\": \"financeiro\" }\n  </exemplo>\n  <exemplo>\n    Departamento atual: <departamento>secretaria</departamento>\n    Human: Perdão, poderia ser com a Karine no mesmo horario esta consulta? obrigado\n    AI: Calculator1 tool call -  Only INTEGERS\n    AI: Deletar Evento1 tool call\n    AI: get_many tool call. Example when it returns events on the same requested date and time\n    AI: { \"mensagem\": \"Desculpe mas a Karine está já ocupada neste horario, poderia agendar com outro profissional?\", \"departamento\": \"secretaria\" }\n  </exemlo>\n<exemplos>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        700,
        2560
      ],
      "id": "d3a6739b-6a69-4642-98f8-23a25313b852",
      "name": "agente_secretaria"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f1e9e8eb-6578-4a48-8a36-292501188729",
              "leftValue": "={{ $json.clienteData.email !== undefined && $json.clienteData.nome !== undefined && $json.clienteData.cpf !== undefined }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1580,
        2320
      ],
      "id": "91f6c1de-7b43-4dcb-8d19-1d7813853344",
      "name": "cadastro_completo"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem>{{ $('secretaria_wh').item.json.body.mensagem }}</mensagem>",
        "options": {
          "systemMessage": "=Departamento atual: <departamento>{{ $json.clienteDepartamento }}</departamento>\n\n<departamentos>\n {{ $json.departamentos.map(item => `\n  <departamento_descricao>\n   <departamento>${item.departamento}</departamento>\n   <regra_de_transferencia>\n    ${item.regras}\n   </regra_de_transferencia>\n </departamento_descricao>\n`)  }}\n</departamentos>\n\n<cpf_formato>\nRegEx:\n^([-\\.\\s]?(\\d{3})){3}[-\\.\\s]?(\\d{2})$\n\nTest:\n345.753.428-40\nTest:\n345.753.422.99\nTest:\n123-543-667.54\nTest:\n123 456 789 01\nTest:\n34575342840\n</cpf_formato>\n\nVocê é uma secretária virtual projetada para gerenciar de forma eficiente e amigável o cadastro do cliente antes de realizar uma consulta. Seu nome é \"Jurema\" e você trabalha para a OdontoClinic Londrina.\n\nA sua função é solicitar o Nome, email e CPF do cliente.\n\nO Email tem que ser válido. Caso contrário, solicite ao cliente para informar um email válido.\n\nO CPF tem que ser válido. Consulte as regras e exemplos em <cpf_formato></cpf_formato> de como validar o CPF. Caso contrário, solicite ao cliente para informar um CPF válido.\n\nUse a tool \"atualizar_cliente_cadastro\" assim que o cliente responder essas 3 informações. \n\nApós atualizar o cadastro usando a tool atualizar_cliente_cadastro, pergunte então qual a preferência de dia e horario do cliente.\n\nNão informe que já estarea checando a disponibilidade. Termine sempre com uma pergunta.\n\n\nREGRAS PRINCIPAIS:\n\nMantenha respostas curtas e objetivas\nSeja sempre cordial e prestativa\nVocê deve avaliar a mensagem do cliente e decidir entre transferir ou responder diretamente\n\nPROCESSO DE DECISÃO:\n\nIdentifique a necessidade na mensagem\nConsulte as <regra_de_transferencia> \n\nEscolha entre as duas ações possíveis:\n\nApenas responder ao cliente com uma <mensagem>\n\nOu transferir o cliente de departamento e com uma <mensagem> para o departtamento ao qual o cliente será transferido.\n\nNão informe ao cliente sobre a transferência.\n\nSempre responda o cliente, quando não souber o que responder, avise que irá chamar um assistente para lhe ajudar.\n\nQuando houver uma <mensagemHumano></mensagemHumano> dentro de <mensagem></mensagem> responda o que estiver na <mensagemHumano></mensagemHumano> e continue no <departamento>{{ $json.clienteDepartamento }}</departamento>, não é para transferir o cliente para o departamento humano neste caso. Isto significa que um humano, responsável por este serviço respondeu ao cliente.\n\nResponda apenas usando o formato em JSON, sem aspas. Apenas o JSON.\n\n<output_schema>\n{ \n  \"mensagem\": STRING, \n  \"departamento\": STRING\n}\n</output_schema>\n\nCertifique-se de que na mensagem final ela está usando o formato descrito em <output_schema>.\n\n<exemplos>\n  <exemplo>\n    Human: Eu preciso agendar o meu clareamento dental. teria disponibilidade para hoje de tarde? obrigado\n    AI: { \"mensagem\": \"Para realizar o agendamento da consulta, poderia por gentileza me passar o seu nome, email e cpf?\", \"departamento\": \"secretaria\" }\n    Human: Claro, Guilherme Reis, teste@gmail.com e 07216216127\n    AI: atualizar_cliente_cadastro tool call\n    AI: Obrigada! Você possui alguma preferência de dia e horário para a consulta?\n  </exemlo>\n  <exemplo>\n  Departamento atual: <departamento>secretaria</departamento>\n  Human: <mensagemHumano>Voce precisa de uma ajuda espeecializada</mensagemHumano>\n  AI: { \"mensagem\": \" Voce precisa de uma ajuda espeecializada\": \"secretaria\" }\n  </exemlo>\n<exemplos>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1840,
        2140
      ],
      "id": "e67701ce-f650-4c4b-b660-0c21c1c88509",
      "name": "agente_auxiliar_secretaria"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.clienteNumero }}",
        "tableName": "ao_secretaria_chat",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1940,
        2340
      ],
      "id": "e2a8dd3d-5674-4365-b79d-432a8a888380",
      "name": "Postgres Chat Memory3"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1800,
        2340
      ],
      "id": "f04805cd-6c08-4c0a-ad04-2326ad6267f7",
      "name": "OpenAI Chat Model4"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"mensagem\": \"{{ $json.mensagem }}\",\n  \"departamento\": \"{{ $json.departamento }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2380,
        2140
      ],
      "id": "dc9e0ba9-9051-40e9-bdff-34743f18536f",
      "name": "Respond to Webhook6"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ JSON.parse($json.output) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        2140
      ],
      "id": "d06eda55-5ee2-4598-b438-b013d7a233c2",
      "name": "tratamento3"
    },
    {
      "parameters": {
        "toolDescription": "Use esta tool para atualizar o cadastro do cliente. Use o formato JSON { nome: STRING, email: STRING, cpf: STRING } no campo data. O campo data é do tipo objeto.",
        "method": "PATCH",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "numero",
              "valueProvider": "fieldValue",
              "value": "={{ $json.clienteNumero }}"
            },
            {
              "name": "departamento",
              "valueProvider": "fieldValue",
              "value": "={{ $json.clienteDepartamento }}"
            },
            {
              "name": "data"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2080,
        2340
      ],
      "id": "6e2f04d3-6c08-446b-a243-b9485013fa4c",
      "name": "atualizar_cliente_cadastro"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa6fddc3-3892-4582-98e8-e60bb569d540",
              "name": "numero",
              "value": "={{ $json.body.numero }}",
              "type": "string"
            },
            {
              "id": "90038942-ba44-44b5-a549-c05a62dbe0ec",
              "name": "departamento",
              "value": "={{ $json.body.departamento }}",
              "type": "string"
            },
            {
              "id": "8e18a645-824b-437e-8dd3-4c461439a78b",
              "name": "data",
              "value": "={{ typeof $json.body.data === 'object' ? JSON.stringify($json.body.data) : $json.body.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1320,
        2100
      ],
      "id": "f3c298ec-9df0-468f-ae50-c737579681a2",
      "name": "tratamento5"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1160,
        820
      ],
      "id": "39421e74-f97e-4a3a-8dde-333e60fd0d1c",
      "name": "Evolution API",
      "credentials": {}
    },
    {
      "parameters": {},
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        -720,
        2300
      ],
      "id": "0d8e9c7b-d00d-4a0e-8aa4-3cdd2a2732c5",
      "name": "Evolution API1",
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/secretaria",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $json.clienteNumero }}\",\n  \"mensagem\": \"{{ $json.mensagem }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        360
      ],
      "id": "15d4d14b-4b60-46f4-a543-3bd5f372da68",
      "name": "ia_secretaria"
    },
    {
      "parameters": {
        "toolDescription": "Use esta tool para atualizar o interesse do cliente. Use o formato JSON { servicoInteresse: STRING } no campo data. O campo data é do tipo objeto.",
        "method": "PATCH",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "numero",
              "valueProvider": "fieldValue",
              "value": "={{ $json.clienteNumero }}"
            },
            {
              "name": "departamento",
              "valueProvider": "fieldValue",
              "value": "={{ $json.clienteDepartamento }}"
            },
            {
              "name": "data"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1280,
        1780
      ],
      "id": "4204eed4-e279-4154-b935-20c3d18172f6",
      "name": "atualizar_interesse"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1420,
        1780
      ],
      "id": "4b1a3940-fd05-41b6-8358-85d0f6561f78",
      "name": "calculadora"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const { output } = item.json;\n\n  const agenteResposta = JSON.parse(output);\n\n  if (agenteResposta.departamento !== $('puxar_cliente4').item?.json.clienteDepartamento) {\n    item.json = {\n      mensagem: $('comercial_wh').item?.json.body.mensagem,\n      departamento: agenteResposta.departamento\n    }\n  } else {\n    item.json = agenteResposta\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        1580
      ],
      "id": "796462aa-a5e3-4ba8-8b28-d4ce9ae82038",
      "name": "tratamento1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ao_clientes (numero, data, departamento)\nVALUES ('{{ $('criar_cliente').item.json.body.numero }}', '{}', 'comercial');\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1080,
        1780
      ],
      "id": "04a554a4-f219-47f9-8971-45aff6a521ac",
      "name": "novo_cliente",
      "credentials": {
        "postgres": {
          "id": "mgxUJp91OulKSJZt",
          "name": "Postgres - BlackSB"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agente IA: Financeiro",
        "height": 80,
        "width": 1200,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        3100
      ],
      "id": "fd5b38d3-70c1-46a0-9430-bc802fa6f0ff",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "numero",
              "value": "={{ $json.body.numero }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        3400
      ],
      "id": "b4bfb5c4-df13-4612-a3dd-240a099d06e8",
      "name": "puxar_cliente6"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        580,
        3840
      ],
      "id": "690bd813-7ec4-4858-a25d-faa470e3f4f0",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('puxar_cliente6').item.json.clienteNumero }}",
        "tableName": "ao_financeiro_chat"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        760,
        3840
      ],
      "id": "0d90e69c-ae2e-4aa8-a272-66b6dec47623",
      "name": "Postgres Chat Memory"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"mensagem\": \"{{ $json.mensagem }}\",\n  \"departamento\": \"{{ $json.departamento }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1300,
        3620
      ],
      "id": "1712b4be-cbd4-41a6-8272-a762ed227b15",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1080,
        3860
      ],
      "id": "4a21d783-db82-4626-8ebf-ae25a8323222",
      "name": "calculadora1"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const { output } = item.json;\n\n  const agenteResposta = JSON.parse(output);\n\n  if (agenteResposta.departamento !== $('puxar_cliente6').item?.json.clienteDepartamento) {\n    item.json = {\n      mensagem: $('financeiro_wh').item?.json.body.mensagem,\n      departamento: agenteResposta.departamento\n    }\n  } else {\n    item.json = agenteResposta\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        3620
      ],
      "id": "2bdc3354-5ca8-4995-9afb-ace55d78cf70",
      "name": "tratamento2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "agente-ofir/v1/financeiro",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        700,
        3400
      ],
      "id": "a0c2633b-ebde-43c2-956d-1825a56791fe",
      "name": "financeiro_wh",
      "webhookId": "d711bc48-5fc8-4f7f-8354-787ef9e828f6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/v1/asaas/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"nome\": \"{{ $json.clienteData?.nome ?? \"\" }}\",\n    \"cpfCnpj\": \"{{ $json.clienteData.cpf.replaceAll(\".\", \"\").replaceAll(\"-\", \"\") }}\",\n    \"email\": \"{{ $json.clienteData.email }}\",\n    \"phone\": \"{{ $('financeiro_wh').item.json.body.numero.split('@')[0] }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        3400
      ],
      "id": "23bff527-0f6e-4a0e-85e2-a11da34f49e1",
      "name": "get_client_asaas"
    },
    {
      "parameters": {
        "url": "=https://n8n.dinastia.uk/webhook/v1/asaas/cliente?asaasCustomerId={{ $json.asaasCustomerId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        3400
      ],
      "id": "afe82569-21df-4e2b-84b5-24ed292bb685",
      "name": "get_payments_asaas",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<mensagem>{{ $('financeiro_wh').item.json.body.mensagem }}</mensagem>",
        "options": {
          "systemMessage": "=Departamento atual: <departamento>{{ $('puxar_cliente6').item.json.clienteDepartamento }}</departamento>\n\n<produto_servico_interesse>{{ $('puxar_cliente6').item.json.clienteData.servicoInteresse }}</produto_servico_interesse>\n<asaas_customer_id>{{ $('get_client_asaas').item.json.asaasCustomerId }}</asaas_customer_id>\n<payments>\n  {{ $('get_payments_asaas').item.json.payments.map(item => `\n<payment>\n    <id>${item.id}</id>\n    <value>${item.value}</value>\n    <status>${item.status}</status>\n<payment>\n`) }}\n<payments>\n\n<departamentos>\n {{ $('puxar_cliente6').item.json.departamentos.map(item => `\n  <departamento_descricao>\n   <departamento>${item.departamento}</departamento>\n   <regra_de_transferencia>\n    ${item.regras}\n   </regra_de_transferencia>\n </departamento_descricao>\n`)  }}\n</departamentos>\n\n<servicos>\n  <servico>\n    <nome>Ortodontia</nome>\n    <valor>R$ 350,00/mês (média de 24-36 meses)</valor>\n  </servico>\n  <servico>\n    <nome>Alinhadores</nome>\n    <valor>R$ 12.000,00 (tratamento completo)</valor>\n  </servico>\n  <servico>\n    <nome>Lentes de contato dental</nome>\n    <valor>R$ 2.500,00 (por dente)</valor>\n  </servico>\n  <servico>\n    <nome>Toxina botulínica</nome>\n    <valor>R$ 800,00 (por sessão)</valor>\n  </servico>\n  <servico>\n    <nome>Clareamento</nome>\n    <valor>R$ 900,00 (consultório + caseiro)</valor>\n  </servico>\n  <servico>\n    <nome>Próteses</nome>\n    <valor>R$ 2.000,00 (por elemento)</valor>\n  </servico>\n  <servico>\n    <nome>Tratamento de canal</nome>\n    <valor>R$ 1.200,00 (por dente)</valor>\n  </servico>\n  <servico>\n    <nome>Extração de siso</nome>\n    <valor>R$ 500,00 (por dente)</valor>\n  </servico>\n  <servico>\n    <nome>Restaurações</nome>\n    <valor>R$ 200,00 (por dente)</valor>\n  </servico>\n</servicos>\n\nVocê é a Jurema, integrante da equipe financeira da OdontoClinic Londrina. Você deve manter um tom amigável e profissional em todas as interações.\n\n# Seu objetivo é:\n- Identificar se o usuário deseja adquirir o </produto_servico_interesse>\n- Utilizar a tool \"create_payment\" para criar o PIX do <valor> indicado pelo <nome> do <sevico> em </produto_servico_interesse>\n- Encaminhar o \"pixCode\" que retornou da tool \"create_payment\" para o usuário, informando de que esta é a sua chave PIX para o pagamento.\n- Uma vez com a chave PIX gerada, informar que estará no aguardo do pagamento e perguntar se possui mais alguma informação.\n- Utilize as informação em </payments> para identificar todos os pagamentos deste cliente.\n \nUse a calculadora sempre que precisar calcular os <valor> descritos no <servico>. A calculadora deve ser usada apenas para operações com INTEGERS\n\nSempre termine com uma pergunta aberta para criar maior engajamento.\n\n# REGRAS PRINCIPAIS:\n- Mantenha respostas curtas e objetivas.\n- Seja sempre cordial e prestativa.\n- Você deve avaliar a mensagem do cliente e decidir entre transferir ou responder diretamente.\n- Responda apenas utlizando informações presentes em <servicos></servicos>.\n- Caso não houver nenhuma informação presente em <servicos></servicos>, diga que irá solicitar uma ajuda de um outro colega seu e transfira para o departamente  \"humano\".\n\n# PROCESSO DE DECISÃO:\n- Identifique a necessidade na mensagem\n- Consulte as <regra_de_transferencia> \n- Escolha entre as duas ações possíveis:\n- Apenas responder ao cliente com uma <mensagem>\n- Ou transferir o cliente de departamento e com uma <mensagem> para o departamento ao qual o cliente será transferido.\n- Não informe ao cliente sobre a transferência.\n\n# MENSAGEM HUMANO:\nQuando houver uma <mensagemHumano></mensagemHumano> dentro de <mensagem></mensagem> responda o que estiver na <mensagemHumano></mensagemHumano> e continue no <departamento>{{ $('puxar_cliente6').item.json.clienteDepartamento }}</departamento>, não é para transferir o cliente para o departamento humano neste caso. Isto significa que um humano, responsável por este serviço respondeu ao cliente.\n\n# MENSAGEM ASAAS:\nQuando houver uma <mensagemAsaas></mensagemAsaas> dentro de <mensagem></mensagem> verifique o </paymentStatus>. \n- Caso </paymentStatus> seja: RECEIVED, transfira para o departamento \"secretaria\" informando a seguinte frase: \"Pagamento recebido\"\n- Caso </paymentStatus> seja: OVERDUE, transfira para o departamento \"secretaria\" informando a seguinte frase: \"Pagamento em atraso\"\n\n# OUTPUT TYPE:\n- Responda apenas usando o formato em JSON, sem aspas. Apenas o JSON.\n<output_schema>\n{ \n  \"mensagem\": STRING, \n  \"departamento\": STRING\n}\n</output_schema>\n\nCertifique-se de que na mensagem final ela está usando o formato descrito em <output_schema>.\n\n<exemplos>\n  <exemplo>\n    Departamento atual: <departamento>teste</departamento>\n    Human: <mensagemHumano>Voce precisa de uma ajuda espeecializada</mensagemHumano>\n    AI: { \"mensagem\": \"Voce precisa de uma ajuda espeecializada\", \"departamento\": \"teste\" }\n  </exemlo>\n  <exemplo>\n    Departamento atual: <departamento>financeiro</departamento>\n    Human: <mensagemAsaas><paymentStatus>RECEIVED</paymentStatus><paymentId>pay_m8fl3ufjq5f4x3y3</paymentId></mensagemAsaas>\n    AI: { \"mensagem\": \"<paymentStatus>Pagamento recebido</paymentStatus>\", \"departamento\": \"secretaria\" }\n  </exemlo>\n  <exemplo>\n    Departamento atual: <departamento>financeiro</departamento>\n    Human: <mensagemAsaas><paymentStatus>OVERDUE</paymentStatus><paymentId>pay_m8fl3ufjq5f4x3y3</paymentId></mensagemAsaas>\n    AI: { \"mensagem\": \"<paymentStatus>Pagamento em atraso</paymentStatus>\", \"departamento\": \"secretaria\" }\n  </exemlo>\n<exemplos>"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        700,
        3620
      ],
      "id": "ac652a86-7127-4997-82b2-5c12c1110627",
      "name": "Agente financeiro"
    },
    {
      "parameters": {
        "toolDescription": "Use esta tool para gerar o pixCode passando no campo \"value\" o </valor> do </produto_servico_interesse> no formato deste exemplo \"30.00\"",
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/v1/asaas/pix",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "parametersBody": {
          "values": [
            {
              "name": "billingType",
              "valueProvider": "fieldValue",
              "value": "PIX"
            },
            {
              "name": "asaasCustomerId",
              "valueProvider": "fieldValue",
              "value": "={{ $('get_client_asaas').item.json.asaasCustomerId }}"
            },
            {
              "name": "value"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        920,
        3860
      ],
      "id": "c2882142-e652-4537-abab-da83d9b3faeb",
      "name": "create_payment"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/financeiro",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $json.clienteNumero }}\",\n  \"mensagem\": \"{{ $json.mensagem }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "id": "dd6db00d-8db7-4841-96fa-72102a592371",
      "name": "ia_financeiro"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/cliente",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"numero\": \"{{ $('puxar_cliente6').item.json.clienteNumero }}\",\n  \"departamento\": \"{{ $('puxar_cliente6').item.json.clienteDepartamento }}\",\n  \"data\": {\n    \"asaasCustomerId\": \"{{ $json.asaasCustomerId }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1320,
        3220
      ],
      "id": "2fc88173-01d2-4ce8-aa99-c9478796c133",
      "name": "atualizar_cliente6"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use essa ferramenta para confirmar um evento quando receber uma informação de <paymentStatus>Pagamento recebido</paymentStatus>",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "={{ $fromAI(\"calendarioId\",\"<calendario><calendarioId></calendarioId></calendario>\") }}",
          "mode": "id"
        },
        "eventId": "={{ $fromAI(\"eventId\",\"Id do evento que deve ser alterado\") }}",
        "updateFields": {
          "summary": "=confirmado | Consulta agendada. Telefone {{ $('puxar_cliente5').item.json.clienteNumero.split(\"@\")[0] }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.2,
      "position": [
        1360,
        2820
      ],
      "id": "6d353221-3e9b-4595-9718-555c02b3859c",
      "name": "update_calendar"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config": {
      "main": [
        [
          {
            "node": "auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "auth": {
      "main": [
        [
          {
            "node": "tratamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cliente": {
      "main": [
        [
          {
            "node": "cliente_existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cliente_existente": {
      "main": [
        [
          {
            "node": "cliente_atualizado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "novo_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cliente_atualizado": {
      "main": [
        [
          {
            "node": "departamentos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxar_cliente": {
      "main": [
        [
          {
            "node": "mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "departamento": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ia_financeiro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ia_comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ia_secretaria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agente_retorno": {
      "main": [
        [
          {
            "node": "transferir_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "transferir_cliente": {
      "main": [
        [
          {
            "node": "atualizar_cliente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar_ou_atualizar_lead": {
      "main": [
        [
          {
            "node": "config1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxar_cliente1": {
      "main": [
        [
          {
            "node": "crm_acao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "crm_acao": {
      "main": [
        [
          {
            "node": "criar_lead_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "adicionar_comentario_crm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualizar_consulta_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar_cliente": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_cliente": {
      "main": [
        [
          {
            "node": "tratamento5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxar_cliente2": {
      "main": [
        [
          {
            "node": "query_atualizar_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "query_atualizar_data": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook1": {
      "main": [
        [
          {
            "node": "foi_transferido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_cliente1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar_lead_crm": {
      "main": [
        [
          {
            "node": "atualizar_cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_cliente2": {
      "main": [
        [
          {
            "node": "tratamento_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem": {
      "main": [
        [
          {
            "node": "departamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratamento_cliente": {
      "main": [
        [
          {
            "node": "departamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "criar_lead_request": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config1": {
      "main": [
        [
          {
            "node": "puxar_cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adicionar_comentario_crm": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "foi_transferido": {
      "main": [
        [
          {
            "node": "comentario_transferencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adicionar_comentario_request": {
      "main": [
        [
          {
            "node": "notificar_quando_for_humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "departamentos": {
      "main": [
        [
          {
            "node": "departamentos_tratamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "departamentos_tratamento": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxar_cliente4": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "tratamento1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "comercial_wh": {
      "main": [
        [
          {
            "node": "puxar_cliente4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ia_comercial": {
      "main": [
        [
          {
            "node": "agente_retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notificar_quando_for_humano": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "comentario_transferencia": {
      "main": [
        [
          {
            "node": "adicionar_comentario_request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "humano": {
      "main": [
        [
          {
            "node": "agente_retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "comentario_humano": {
      "main": [
        [
          {
            "node": "cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cliente1": {
      "main": [
        [
          {
            "node": "comandos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_cliente3": {
      "main": [
        [
          {
            "node": "rodar_agente_request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rodar_agente": {
      "main": [
        [
          {
            "node": "tratamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratamento": {
      "main": [
        [
          {
            "node": "puxar_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxar_cliente5": {
      "main": [
        [
          {
            "node": "cadastro_completo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "agente_secretaria",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "agente_secretaria",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook5": {
      "main": [
        [
          {
            "node": "novo_evento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletar Evento1": {
      "ai_tool": [
        [
          {
            "node": "agente_secretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Criar Eventos1": {
      "ai_tool": [
        [
          {
            "node": "agente_secretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator1": {
      "ai_tool": [
        [
          {
            "node": "agente_secretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_many": {
      "ai_tool": [
        [
          {
            "node": "agente_secretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "secretaria_wh": {
      "main": [
        [
          {
            "node": "config2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "novo_comentario": {
      "main": [
        [
          {
            "node": "comentario_humano",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_consulta_data": {
      "main": [
        [
          {
            "node": "adicionar_comentario_crm1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "novo_evento": {
      "main": [
        [
          {
            "node": "puxar_consulta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxar_consulta": {
      "main": [
        [
          {
            "node": "atualizar_consultaData_request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "adicionar_comentario_crm1": {
      "main": [
        [
          {
            "node": "mudar_de_funil",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mudar_de_funil": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "comandos": {
      "main": [
        [
          {
            "node": "atualizar_cliente4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualizar_cliente5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "atualizar_cliente3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "config2": {
      "main": [
        [
          {
            "node": "sorteio_calendario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sorteio_calendario": {
      "main": [
        [
          {
            "node": "puxar_cliente5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tratamento4": {
      "main": [
        [
          {
            "node": "Respond to Webhook5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agente_secretaria": {
      "main": [
        [
          {
            "node": "tratamento4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cadastro_completo": {
      "main": [
        [
          {
            "node": "agente_secretaria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "agente_auxiliar_secretaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agente_auxiliar_secretaria": {
      "main": [
        [
          {
            "node": "tratamento3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "agente_auxiliar_secretaria",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "agente_auxiliar_secretaria",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "tratamento3": {
      "main": [
        [
          {
            "node": "Respond to Webhook6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_cliente_cadastro": {
      "ai_tool": [
        [
          {
            "node": "agente_auxiliar_secretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tratamento5": {
      "main": [
        [
          {
            "node": "puxar_cliente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ia_secretaria": {
      "main": [
        [
          {
            "node": "agente_retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "atualizar_interesse": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calculadora": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tratamento1": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "novo_cliente": {
      "main": [
        [
          {
            "node": "criar_lead_request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "puxar_cliente6": {
      "main": [
        [
          {
            "node": "get_client_asaas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente financeiro",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente financeiro",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "calculadora1": {
      "ai_tool": [
        [
          {
            "node": "Agente financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tratamento2": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "financeiro_wh": {
      "main": [
        [
          {
            "node": "puxar_cliente6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_client_asaas": {
      "main": [
        [
          {
            "node": "get_payments_asaas",
            "type": "main",
            "index": 0
          },
          {
            "node": "atualizar_cliente6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_payments_asaas": {
      "main": [
        [
          {
            "node": "Agente financeiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente financeiro": {
      "main": [
        [
          {
            "node": "tratamento2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create_payment": {
      "ai_tool": [
        [
          {
            "node": "Agente financeiro",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ia_financeiro": {
      "main": [
        [
          {
            "node": "agente_retorno",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_calendar": {
      "ai_tool": [
        [
          {
            "node": "agente_secretaria",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "criar_ou_atualizar_lead1": [
      {
        "json": {
          "headers": {
            "host": "aula-n8n.jnsbgu.easypanel.host",
            "user-agent": "axios/1.7.4",
            "content-length": "40",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "authorization": "AFEFAEF21321421AFSAFAS123312321",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "aula-n8n.jnsbgu.easypanel.host",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "37ade96d3958",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "numero": "447928821569@s.whatsapp.net",
            "acao": "CRIAR_LEAD",
            "data": {
              "nome": "Guilherme Reis",
              "telefone": "447928821569"
            }
          },
          "webhookUrl": "https://aula-n8n.jnsbgu.easypanel.host/webhook/agente-ofir/v1/cliente",
          "executionMode": "production"
        }
      }
    ],
    "financeiro_wh": [
      {
        "json": {
          "headers": {
            "host": "n8n.dinastia.uk",
            "user-agent": "PostmanRuntime/7.43.0",
            "content-length": "85",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br",
            "authorization": "AEFEFAAEF564654654654AEFFAEAE65465465465AFAEFAEfAE",
            "cache-control": "no-cache",
            "content-type": "application/json",
            "postman-token": "ab27acf8-9593-4e69-bef9-5d2cd1140b24",
            "x-forwarded-for": "54.86.50.139",
            "x-forwarded-host": "n8n.dinastia.uk",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e4de178bbd57",
            "x-real-ip": "54.86.50.139"
          },
          "params": {},
          "query": {},
          "body": {
            "numero": "447928821569@s.whatsapp.net",
            "mensagem": "Pode mandar sim."
          },
          "webhookUrl": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/financeiro",
          "executionMode": "production"
        }
      }
    ],
    "secretaria_wh": [
      {
        "json": {
          "headers": {
            "host": "n8n.dinastia.uk",
            "user-agent": "axios/1.7.4",
            "content-length": "136",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "authorization": "AEFEFAAEF564654654654AEFFAEAE65465465465AFAEFAEfAE",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.dinastia.uk",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9ba83ca7dbb8",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "numero": "447928821569@s.whatsapp.net",
            "mensagem": "<paymentStatus>RECEIVED</paymentStatus><paymentId>pay_qazvdudbcqa17x7r</paymentId>"
          },
          "webhookUrl": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/secretaria",
          "executionMode": "production"
        }
      }
    ],
    "rodar_agente": [
      {
        "json": {
          "headers": {
            "host": "n8n.dinastia.uk",
            "user-agent": "axios/1.7.4",
            "content-length": "173",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "authorization": "AEFEFAAEF564654654654AEFFAEAE65465465465AFAEFAEfAE",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.dinastia.uk",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "9ba83ca7dbb8",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "numero": "447928821569@s.whatsapp.net",
            "mensagem": "<mensagemHumano>Pow que isso cara, procura ai um especialista hein e segue o jogo e nao olhe para traz</mensagemHumano>"
          },
          "webhookUrl": "https://n8n.dinastia.uk/webhook/agente-ofir/v1/agente",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "ccfad133-b437-4f1b-bd90-c3229053dfe1",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-01-25T19:42:00.102Z",
      "updatedAt": "2025-01-25T19:42:00.102Z",
      "id": "HKDGDaEbry6lusvU",
      "name": "AO-v1.4"
    }
  ]
}