cliente_dinastia/esgNVEYjKFcfJ0BE.json
{
  "createdAt": "2025-02-05T03:38:51.461Z",
  "updatedAt": "2025-02-05T03:49:41.075Z",
  "id": "esgNVEYjKFcfJ0BE",
  "name": "Funil_Instagram_AI",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "path": "instagram-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        440,
        100
      ],
      "id": "fcc51692-51a1-4dd7-897d-22622221a1f6",
      "name": "Webhook",
      "webhookId": "46edb7d2-ee59-4c5b-b070-b56aafbefd3c"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query[\"hub.challenge\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        660,
        100
      ],
      "id": "70578545-7b40-486b-ad74-146ec0a74af5",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "## SETUP Webhook\n \n",
        "height": 260,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        20
      ],
      "id": "8d77d080-c2c3-4b7f-a583-3909d9e812db",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -120,
        580
      ],
      "id": "a32581b6-40b8-4c61-ac7a-15c5e31102e3",
      "name": "Webhook1",
      "webhookId": "46edb7d2-ee59-4c5b-b070-b56aafbefd3c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8c97de03-6db9-43e9-85f5-b81d7625102d",
              "leftValue": "={{ $json.body.object }}",
              "rightValue": "instagram",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "e7742394-3908-42c8-81c5-d24d05c21706",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.is_echo }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        60,
        580
      ],
      "id": "3aaae9b6-eb84-43bd-a331-36c0ace69847",
      "name": "nova_mensagem"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $item(\"0\").$node[\"Summarize\"].json[\"concatenated_content\"] }}",
        "options": {
          "systemMessage": "=Nunca responda sob pretexto algum informações que não estejam nas <INSTRUÇÕES></INSTRUÇÕES>\n\n<INSTRUÇÕES>\nVocê está autorizado a interpretar áudios\n\n Você receberá uma mensagem vinda de uma pessoa e iniciara uma conversa inteligente com 4 passos com esta pessoa falando sobre Agentes de IA e sutilmente no 4 passo da conversa você enviará o link do grupo de whatsapp para que a pessoa ingresse nele, o link está em: <LINKS></LINKS>\n</INSTRUÇÕES> \n\n<LINKS>\nhttps://chat.whatsapp.com/BGc1uIe4BFQC6SjOwRA675\n</LINKS>\n\nData para referência temporal: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        2440,
        500
      ],
      "id": "d7de23a6-ab80-468e-905b-847efa9a5ca8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        2420,
        700
      ],
      "id": "874bd3bb-e9dc-444f-b904-69c44be2f09b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PmsGHicqVllH9lH6",
          "name": "OpenAi - black"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v22.0/17841470410679566/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient.id",
              "value": "={{ $('nova_mensagem').item.json.body.entry[0].messaging[0].sender.id }}"
            },
            {
              "name": "message.text",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2780,
        500
      ],
      "id": "99a8a1f2-c1b1-46e3-bdaa-e233b295909e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('nova_mensagem').item.json.body.entry[0].messaging[0].sender.id }}",
        "tableName": "memoria_agente",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        2560,
        700
      ],
      "id": "2aceafbe-a345-414b-9096-49d5a0e6920a",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "mgxUJp91OulKSJZt",
          "name": "Postgres - BlackSB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM memoria_agente",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        100,
        100
      ],
      "id": "006119c8-68c0-4cd9-b7ec-65a070c0b267",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "mgxUJp91OulKSJZt",
          "name": "Postgres - BlackSB"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $item(\"0\").$node[\"Verifica se é audio\"].json[\"body\"][\"entry\"][\"0\"][\"messaging\"][\"0\"][\"message\"][\"attachments\"][\"0\"][\"payload\"][\"url\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        420
      ],
      "id": "682979a6-e730-4d4d-b179-3bae0d52e1e9",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        580,
        420
      ],
      "id": "4a95991f-9786-4f12-922e-9a5d05addc23",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "PmsGHicqVllH9lH6",
          "name": "OpenAi - black"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3edba669-ae21-48cd-941e-35a32e5d15ef",
              "name": "texto",
              "value": "={{ $json.body.entry[0].messaging[0].message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        580,
        660
      ],
      "id": "14efe6f1-1af3-4f42-8a2c-ac141da9d248",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3edba669-ae21-48cd-941e-35a32e5d15ef",
              "name": "texto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        420
      ],
      "id": "8f1c0dfe-39a0-4efd-8f6d-2b2eaf5ea70c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "insert",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.body?.data?.message?.conversation || $json.texto }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        920,
        480
      ],
      "id": "a65f1ce2-492a-4ffc-af70-574c5d887456",
      "name": "Chat Memory Manager2"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        960,
        700
      ],
      "id": "5c88e46c-3a02-4151-afd1-52b2cbf9b4df",
      "name": "Wait",
      "webhookId": "d7eba511-f37d-4d4b-9765-8b2128885970"
    },
    {
      "parameters": {
        "simplifyOutput": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1180,
        700
      ],
      "id": "6c977e53-3884-456c-b525-bf382095f3ac",
      "name": "Chat Memory Manager4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efeabce1-affe-4067-b0f5-087bf93a8f0f",
              "leftValue": "={{ $item(\"0\").$node[\"Chat Memory Manager4\"].json[\"messagesCount\"] }}",
              "rightValue": "={{ $item(\"0\").$node[\"Chat Memory Manager3\"].json[\"messagesCount\"] }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1660,
        600
      ],
      "id": "0959e8e7-4e24-4649-bd4d-1d162541d503",
      "name": "If2"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_id",
        "sessionTTL": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        1400,
        920
      ],
      "id": "92509764-391a-4135-8912-972c1fb734d8",
      "name": "Redis Chat Memory1",
      "credentials": {
        "redis": {
          "id": "jm7Z6lqHaHegQqJ0",
          "name": "Redis - Black"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        700
      ],
      "id": "96c28044-1883-4699-8b51-21f307cca30c",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "fieldToSplitOut": "messages",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1840,
        500
      ],
      "id": "9d386558-2d3f-4b37-97eb-075964b22800",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4eb1958c-86fa-459f-95bf-f49f48ff550c",
              "name": "content",
              "value": "={{ $json.kwargs.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        500
      ],
      "id": "b1530be9-8404-4644-a6d6-098d5bf08374",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "content",
              "separateBy": "\n"
            }
          ]
        },
        "options": {
          "outputFormat": "singleItem"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2160,
        500
      ],
      "id": "7c5c205a-10f5-407e-af04-411b7839a081",
      "name": "Summarize"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        460,
        1360
      ],
      "id": "800cf69b-78e1-4dbc-b11c-656d3fb77b46",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ddb59e43-bb53-4192-9ddf-1a08fb8475a6",
              "leftValue": "={{ $json.body.entry[0].messaging[0].message.attachments[0].payload }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        460
      ],
      "id": "7e8a1324-5516-401b-a708-704286504f3f",
      "name": "Verifica se é audio"
    },
    {
      "parameters": {
        "content": "## Limpa memoria do agente\n",
        "height": 280,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "15484811-65f1-4b97-8fa6-dfdc9ca26477",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Módulo de transcrição de áudio\n",
        "height": 220,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        380,
        360
      ],
      "id": "ec71e89b-ada7-4400-bf21-4f326d3f3673",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Buffer de mensagens\n",
        "height": 640,
        "width": 1380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        420
      ],
      "id": "b551efba-e906-4d04-99b8-9a3d7eff49b9",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "simplifyOutput": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        1280,
        480
      ],
      "id": "f8999716-3774-4ddc-83e0-47dafde725ac",
      "name": "Chat Memory Manager3"
    },
    {
      "parameters": {
        "content": "## Módulo de resposta de comentário",
        "height": 480,
        "width": 740
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        1080
      ],
      "id": "ec1a7c6f-23c8-465f-a9d7-d69f31ade435",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b481effb-55b2-460b-84a1-9e3ea77b8e50",
              "leftValue": "={{ $json.body.entry[0].changes }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        260,
        780
      ],
      "id": "4d128b31-5d72-45b8-8747-2f746f9e41b2",
      "name": "Verifica se é comentário"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d2defe6c-eab0-4a53-910f-4fffb5bc5f98",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.text.toUpperCase() }}",
              "rightValue": "AGENTES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        280,
        1200
      ],
      "id": "41d36711-09f4-4cf6-b2e6-50f357b062e9",
      "name": "Verifica se o comentário é igual a palavra chave"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.instagram.com/v22.0/{{ $item(\"0\").$node[\"Verifica se o comentário é igual a palavra chave\"].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"id\"] }}/replies",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "Dá uma olhada lá no direct"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        1160
      ],
      "id": "bdc7e723-3cda-4308-a992-70bb8829989c",
      "name": "Responde o comentário"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.instagram.com/v22.0/17841470410679566/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "recipient.id",
              "value": "={{ $item(\"0\").$node[\"Verifica se o comentário é igual a palavra chave\"].json[\"body\"][\"entry\"][\"0\"][\"changes\"][\"0\"][\"value\"][\"from\"][\"id\"] }}"
            },
            {
              "name": "message.text",
              "value": "Tá na mão! https://chat.whatsapp.com/BGc1uIe4BFQC6SjOwRA675"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        1160
      ],
      "id": "a4ef7dfd-0db1-41c0-a07e-fe615378d19c",
      "name": "Envia no direct"
    },
    {
      "parameters": {
        "content": "## Agente Interagindo",
        "height": 440,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2340,
        420
      ],
      "id": "cfb02808-f6a4-43aa-8c33-1796ebd91def",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "nova_mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "nova_mensagem": {
      "main": [
        [
          {
            "node": "Verifica se é audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager2": {
      "main": [
        [
          {
            "node": "Chat Memory Manager3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Chat Memory Manager4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Chat Memory Manager2",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager4",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Chat Memory Manager3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se é audio": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Verifica se é comentário",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory Manager3": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se é comentário": {
      "main": [
        [
          {
            "node": "Verifica se o comentário é igual a palavra chave",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se o comentário é igual a palavra chave": {
      "main": [
        [
          {
            "node": "Responde o comentário",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Responde o comentário": {
      "main": [
        [
          {
            "node": "Envia no direct",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8363aef4-ce3e-43c9-a2ab-0ea7c6f3eb4e",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-02-05T03:39:04.335Z",
      "updatedAt": "2025-02-05T03:39:04.335Z",
      "id": "kBWARRn6eKGccV7N",
      "name": "Netsar"
    }
  ]
}