cliente_x/1wud53cfO7psgAA9.json
{
  "createdAt": "2025-01-11T13:32:57.019Z",
  "updatedAt": "2025-01-11T19:48:19.164Z",
  "id": "1wud53cfO7psgAA9",
  "name": "cal_com_make_call_meeting",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        20
      ],
      "id": "a7cfc88a-5281-4f76-a8af-f8312a89d6dd",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "return { \n'response':$('HTTP Request').last().json,\n'error':$('Messages').last().json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        80
      ],
      "id": "32f59ec9-2b4b-40b6-874e-84727d2814d8",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $json.cal_key }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"eventTypeId\":{{ $json.eventTypeId }},\n  \"start\": \"{{ $json.startTimeUTC }}\",\n  \"responses\": {\n    \"name\": \"{{ $json.name }}\",\n    \"email\": \"{{ $json.email }}\",\n    \"smsReminderNumber\": \"{{ $json.phone }}\",\n    \"location\": {\n      \"value\": \"{{ $json.phone }}\",\n      \"optionValue\": \"\"\n    }\n  },\n  \"timeZone\": \"America/Sao_Paulo\",\n  \"language\": \"pt-BR\",\n  \"title\": \"Consulta médica\",\n  \"description\": null,\n  \"status\": \"PENDING\",\n  \"metadata\": {}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -300,
        80
      ],
      "id": "46f51451-025b-4712-b512-a0a5739aee8c",
      "name": "HTTP Request",
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bb41e4e-1574-49d3-bfd2-783e2e2eaafe",
              "name": "api_url",
              "value": "https://api.cal.com/v1/bookings",
              "type": "string"
            },
            {
              "id": "04b28227-7506-4cf1-8837-3c617fa5e984",
              "name": "cal_key",
              "value": "--COLOQUE SUA KEY--",
              "type": "string"
            },
            {
              "id": "8ead661b-e929-4dfd-80e9-9060067737b3",
              "name": "startTime",
              "value": "={{ $json.query.startTime }}",
              "type": "string"
            },
            {
              "id": "d61a239e-fbe4-4741-96d7-7ab400ebc538",
              "name": "eventTypeId",
              "value": "-- SEU EVENTID AQUI --",
              "type": "string"
            },
            {
              "id": "178270d1-096d-4d85-ab50-1a912f597146",
              "name": "name",
              "value": "-- SEU NOME AQUI --",
              "type": "string"
            },
            {
              "id": "05b41346-bbe3-4fdb-bd40-d6fb5f47da27",
              "name": "email",
              "value": "={{ $json.query.email }}",
              "type": "string"
            },
            {
              "id": "5532d282-3cb4-4216-b0f5-fbbbab646db9",
              "name": "phone",
              "value": "={{ $json.query.phone }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -760,
        -40
      ],
      "id": "49fd3cd4-709b-4f2b-a20c-457f95d5cb10",
      "name": "Config"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f8ba4f70-ef6a-4291-b532-aaad33e6e96b",
              "name": "error",
              "value": "={{ $json?.error.message }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "={{ false }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        -60
      ],
      "id": "f6cf5cf3-6c70-4fe4-aabf-1ee327d95174",
      "name": "Messages"
    },
    {
      "parameters": {
        "jsCode": "// Para cada item de entrada, adiciona 3 horas ao campo startTime\nreturn items.map(item => {\n  const startTime = item.json.startTime; // Obtém o campo startTime\n  const date = new Date(startTime); // Converte para um objeto Date\n  date.setHours(date.getHours() + 3); // Adiciona 3 horas\n  item.json.startTimeUTC = date.toISOString(); // Cria o campo startTimeUTC\n  return item; // Retorna o item atualizado\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -540,
        -40
      ],
      "id": "7416567b-865c-442b-9fb5-efa43853a09f",
      "name": "Code1"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Messages": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b3385539-1778-4c2c-a29d-7a4569191037",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-01-11T03:19:29.221Z",
      "updatedAt": "2025-01-11T03:19:29.221Z",
      "id": "NvT4D0248D72xsFk",
      "name": "Andre_Alencar"
    }
  ]
}