cliente_x/44TXzR9jeYKgDan7.json
{
  "createdAt": "2024-12-08T22:51:20.932Z",
  "updatedAt": "2024-12-22T00:24:16.191Z",
  "id": "44TXzR9jeYKgDan7",
  "name": "Memory Postgres",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1860,
        -320
      ],
      "id": "8e792046-7857-4de0-9445-527e3bbe8769",
      "name": "When chat message received",
      "webhookId": "54741c4f-3f29-45ad-b9f3-a550eed0f781"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a441b4b-d146-4800-b166-8e04cdff6255",
              "name": "telefoneCliente",
              "value": "123456789",
              "type": "string"
            },
            {
              "id": "64c1adb2-2de3-4f87-9623-59609fb3cec6",
              "name": "mensagem",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1640,
        -320
      ],
      "id": "f1ff3fdc-f2f7-4f90-9ca6-03f49604ea2e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_288swoPu9Sc3ks3vjuR2vvr3",
          "mode": "list",
          "cachedResultName": "Vendedor_LNC"
        },
        "prompt": "define",
        "text": "={{ $json.mensagem }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -1420,
        -320
      ],
      "id": "f38cd111-0605-4eb5-af8a-37d9fda7e720",
      "name": "OpenAI",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "v7f08akDjfrWKlNo",
          "name": "OpenAi account - Uso Geral 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.telefoneCliente }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -1200,
        -100
      ],
      "id": "0886a6a3-685d-412c-9740-a1640bcb0bda",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "t0C7h4e8cYOfsTD1",
          "name": "Postgres - LNC"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1060,
        -320
      ],
      "id": "3dd37d16-180e-471c-8b75-8bad1d7422d9",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "cff19bff-1add-43be-9164-7989d8129205",
  "triggerCount": 0,
  "tags": []
}