cliente_x/gXbWq1LrHyRUSIir2024-12-20T21:57:36.370-03:00.json
{
  "createdAt": "2024-12-20T02:08:21.766Z",
  "updatedAt": "2024-12-21T00:57:33.131Z",
  "id": "gXbWq1LrHyRUSIir",
  "name": "Backup - Github",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2500,
        -1280
      ],
      "id": "7fded372-ec15-4743-880f-b60af5c33002",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "returnAll": false,
        "limit": 5,
        "filters": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -2060,
        -1280
      ],
      "id": "780f8fff-ff02-4ac2-8a46-c23ff94386e0",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "NFLZ9L8AJ50wg3w3",
          "name": "n8n - backup"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').item.json.repository }}",
          "mode": "name"
        },
        "filePath": "=cliente_x/{{ $json.id }}.json",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -1760,
        -1460
      ],
      "id": "c766acb9-eb30-4390-9e06-cbec6333fb35",
      "name": "GitHub - Backup",
      "alwaysOutputData": true,
      "credentials": {
        "githubOAuth2Api": {
          "id": "efvceInI1F8lHtQP",
          "name": "GitHub - Backup"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "933a3d8f-81a3-4b7c-863d-3381f5bcf3a2",
              "name": "owner",
              "value": "divalf",
              "type": "string"
            },
            {
              "id": "0e58603a-3d6c-46b9-add5-82d3e02e421c",
              "name": "repository",
              "value": "n8n_backup_do",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2280,
        -1280
      ],
      "id": "cfb890e7-626e-45dc-85ec-1d547b3ad700",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5704ff5a-49b8-4fbb-8ee9-123a61fa5e3d",
              "name": "data",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1660,
        -1100
      ],
      "id": "1fdee3b7-a0ac-4f21-b4fc-3b80ad938318",
      "name": "Workflows Dados"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -740,
        -1100
      ],
      "id": "34c0d691-d1e9-4967-b1e8-65931218bee4",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1540,
        -1460
      ],
      "id": "ebf4224d-63db-4316-8b9c-daa15fb45371",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "={{ $json.data.id }}",
              "field2": "={{ $json.data.id }}"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -1240,
        -1300
      ],
      "id": "ea523ca4-a051-4df1-b85b-38feaf7813c2",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -940,
        -1100
      ],
      "id": "ee075074-0e19-4af9-a5b3-99b5cbe488c8",
      "name": "Workflow"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=cliente_x/{{ $('Workflow').item.json.id }}{{ $now.toString() }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -540,
        -1100
      ],
      "id": "f7dd78bb-eb9e-40bf-a181-823fe50df1af",
      "name": "GitHub - Create File",
      "credentials": {
        "githubOAuth2Api": {
          "id": "efvceInI1F8lHtQP",
          "name": "GitHub - Backup"
        }
      }
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{ $json.id }}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -740,
        -1260
      ],
      "id": "24e4ab9a-cad6-4a5f-85bc-e70f121126a1",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -940,
        -1260
      ],
      "id": "54639aa4-dd51-4b6d-b597-a768a9cba336",
      "name": "Workflow1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -940,
        -1460
      ],
      "id": "56f02e2f-df0f-4c5b-b67a-21148c2c0803",
      "name": "Nada a fazer"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first().json.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Edit Fields').first().json.repository }}",
          "mode": "name"
        },
        "filePath": "=cliente_x/{{ $('Workflow1').item.json.id }}{{ $now.toString() }}.json",
        "binaryData": true,
        "commitMessage": "={{ $('Workflow1').item.json.name }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -540,
        -1260
      ],
      "id": "a2c7a99c-5bc0-453f-a9f6-bc1ee9ae0b8e",
      "name": "GitHub - Edit File",
      "credentials": {
        "githubOAuth2Api": {
          "id": "efvceInI1F8lHtQP",
          "name": "GitHub - Backup"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n": {
      "main": [
        [
          {
            "node": "GitHub - Backup",
            "type": "main",
            "index": 0
          },
          {
            "node": "Workflows Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflows Dados": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "GitHub - Create File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Backup": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        [
          {
            "node": "Nada a fazer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Nada a fazer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Create File": {
      "main": [
        []
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "GitHub - Edit File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "d49e1afa-4022-47e5-bc97-8f3d28aa7e23",
  "triggerCount": 0,
  "tags": []
}