cliente_x/gXbWq1LrHyRUSIir.json
{"createdAt":"2024-12-20T02:08:21.766Z","updatedAt":"2024-12-20T03:15:08.357Z","id":"gXbWq1LrHyRUSIir","name":"Backup - Github","active":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-420,-120],"id":"7fded372-ec15-4743-880f-b60af5c33002","name":"When clicking ‘Test workflow’"},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[20,-120],"id":"780f8fff-ff02-4ac2-8a46-c23ff94386e0","name":"n8n","credentials":{"n8nApi":{"id":"NFLZ9L8AJ50wg3w3","name":"n8n - backup"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $('Edit Fields').item.json.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Edit Fields').item.json.repository }}","mode":"name"},"filePath":"=cliente_x/ {{ $json.id }}.json"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[320,-300],"id":"c766acb9-eb30-4390-9e06-cbec6333fb35","name":"GitHub - Backup","credentials":{"githubOAuth2Api":{"id":"efvceInI1F8lHtQP","name":"GitHub - Backup"}}},{"parameters":{"assignments":{"assignments":[{"id":"933a3d8f-81a3-4b7c-863d-3381f5bcf3a2","name":"owner","value":"divalf","type":"string"},{"id":"0e58603a-3d6c-46b9-add5-82d3e02e421c","name":"repository","value":"n8n_backup_do","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-200,-120],"id":"cfb890e7-626e-45dc-85ec-1d547b3ad700","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"5704ff5a-49b8-4fbb-8ee9-123a61fa5e3d","name":"data","value":"={{ $json }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[320,60],"id":"1fdee3b7-a0ac-4f21-b4fc-3b80ad938318","name":"Workflows Dados"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"n8n":{"main":[[{"node":"GitHub - Backup","type":"main","index":0},{"node":"Workflows Dados","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"645ec4fd-8374-427e-bfec-469d9a1243e6","triggerCount":0,"tags":[]}