cliente_x/Ht4AVIunhVfdLZ2y.json
{"createdAt":"2024-12-16T16:37:14.399Z","updatedAt":"2024-12-16T16:37:14.399Z","id":"Ht4AVIunhVfdLZ2y","name":"My workflow","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d","name":"chatInput","value":"={{ $('When chat message received').first().json.chatInput }}","type":"string"},{"id":"db21e134-1fd7-4d6c-a483-780216c16c0d","name":"sessionId","value":"={{ $('When chat message received').first().json.sessionId }}","type":"string"},{"id":"e0a703a0-8924-4eba-b616-385dbc2bed3f","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"8d4a210d-88c2-4e11-82b0-d747fdc8ab95","name":"start_time","value":"={{ $('Availability').item.json.start }}","type":"string"},{"id":"b924bf26-df25-492f-9487-40f1d199c7b2","name":"end_time","value":"={{ $('Availability').item.json.end }}","type":"string"}]},"options":{}},"id":"02ba6adf-87a6-4a3f-a647-88b98a091b10","name":"messages","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1000,0]},{"parameters":{"options":{}},"id":"bc74eab1-c789-4c43-8dd5-2205a9b14463","name":"Date & Time1","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[200,0]},{"parameters":{},"id":"531b069b-930f-4a62-a835-028a3311a26e","name":"When chat message received","type":"@n8n/n8n-nodes-langchain.manualChatTrigger","typeVersion":1.1,"position":[0,0]},{"parameters":{"model":"gpt-4o-mini-2024-07-18","options":{}},"id":"c9e5bbda-7be4-468a-96c4-adf98c965f0d","name":"OpenAI","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1020,300],"credentials":{"openAiApi":{"id":"v7f08akDjfrWKlNo","name":"OpenAi account - Uso Geral 2"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('messages').first().json.sessionId }}","tableName":"chat_histories_agenda","contextWindowLength":10},"id":"7a1b4607-16b0-4b59-a2f4-8d769a1b0820","name":"Postgres Chat Memory1","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.1,"position":[1140,300],"credentials":{"postgres":{"id":"t0C7h4e8cYOfsTD1","name":"Postgres - LNC"}}},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=<systemData>\nData de hoje: {{ $now.weekdayLong }},{{ $now.format('dd/MM/yyyy') }},{{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}\n</systemData>\n## Use suas tools para efetuar os agendamentos e consultadas de datas livres\n\n##Tool busca_eventos use o parametro do email do dono da agenda para consultar os horários livres jesse.vieira.freitas@gmail.com\n##Tool Criar_evento para agendar com o usuário. email da agenda para agendamento jesse.vieira.freitas@gmail.com\n\n<steps>\n<step01>\nquando o usuário desejar agendar, pergunte o dia desejado e apresente os hoários livres\n</step01>\n<step02>\nApós o retorno dos horários livres, solicite os dados abaixo:\n- Nome:\n- email:\n- dia:\n- hora:\n- nome do evento:\n- decrição resumida:\nApenas após ter todos os dados prossiga para a consulta de horários e agendamento\n</step02>"}},"id":"6938c31d-fe04-48d3-b5a0-028e9c44b461","name":"AI Agent2","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[1200,0],"retryOnFail":true,"waitBetweenTries":100,"onError":"continueRegularOutput"},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta quando precisar deletar um evento existente, com base no ID do evento\nsempre use o email do cliente para fazer o cancelamento.","operation":"delete","calendar":{"__rl":true,"value":"69619de2b9fe453fd69eabe7b7d0179284358a4cf4501767385660cb92cfc84a@group.calendar.google.com","mode":"list","cachedResultName":"OmniForge"},"eventId":"={{ $('messages').item.json.id }}","options":{"sendUpdates":"all"}},"id":"c6dcd706-64c6-46a0-a467-5af9ecc749c3","name":"detelar_eventos","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[1260,300],"credentials":{"googleCalendarOAuth2Api":{"id":"4I7PpR7Fj4L6L6sQ","name":"Google Calendar - Divalf"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta para criar o agendamento do cliente,apenas um agendamento por horário, faça com que exista a consulta de horário na tool busca_eventos para não agendar dois clientes no mesmo horario.\nApenas uma e-mail de usuário por horário de atendimento\nEstá proibido agendar mais de uma vez.","calendar":{"__rl":true,"value":"69619de2b9fe453fd69eabe7b7d0179284358a4cf4501767385660cb92cfc84a@group.calendar.google.com","mode":"list","cachedResultName":"OmniForge"},"start":"= {{ $fromAI('start_time') }}","end":"= {{ $fromAI('end_time') }}","additionalFields":{"attendees":["={{ $fromAI('email_do_cliente') }}"],"color":"1","conferenceDataUi":{"conferenceDataValues":{"conferenceSolution":"hangoutsMeet"}},"description":"={{ $fromAI('description') }}","location":"={{ $fromAI('local_evento') }}","sendUpdates":"all","summary":"={{ $fromAI('titulo_evento') }}"}},"id":"0c16e417-9451-4f3f-a95b-df9c684fd257","name":"Criar_evento","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[1400,300],"credentials":{"googleCalendarOAuth2Api":{"id":"4I7PpR7Fj4L6L6sQ","name":"Google Calendar - Divalf"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta para buscar os horários disponiveis entre 8h as 18h.\nse a resposta for [empty array], todos os horarios estão livres.\nSe o usuario pergutar sobre seus eventos agendados, busque os eventos marcados a partir do email fornecido pelo usuario.\nJamais informe sobre eventos que estejam com email diferente do fornecido pelo usuario.\nSe retornar sem_eventos informa a agenda livre","operation":"getAll","calendar":{"__rl":true,"value":"69619de2b9fe453fd69eabe7b7d0179284358a4cf4501767385660cb92cfc84a@group.calendar.google.com","mode":"list","cachedResultName":"OmniForge"},"limit":10,"options":{"timeMin":"={{ $('Date & Time1').first().json.currentDate }}","timeMax":"={{ (() => {\n  const currentDate = new Date($('Date & Time1').first().json.currentDate); // Converte a string para um objeto Date\n  currentDate.setDate(currentDate.getDate() + 30); // Adiciona 30 dias\n  return currentDate.toISOString(); // Retorna a data em formato ISO\n})() }}","orderBy":"startTime","singleEvents":true,"timeZone":{"__rl":true,"value":"America/Sao_Paulo","mode":"list","cachedResultName":"America/Sao_Paulo"}}},"id":"7f30037e-83b1-4b9c-a0c1-ed3a6c9f96ef","name":"buscar_eventos","type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.2,"position":[1520,300],"credentials":{"googleCalendarOAuth2Api":{"id":"4I7PpR7Fj4L6L6sQ","name":"Google Calendar - Divalf"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use essa ferramenta para enviar um email para o cliente apenas quando o agendamento for confirmado.","sendTo":"={{ $fromAI(\"e-mail\",\"coloque aqui o email do usuario que foi coletado\") }}","subject":"={{ $fromAI(\"Titulo\",\"coloque aqui o titulo do email ex: Oitobit - Confirmação de Reunião.\") }}","emailType":"text","message":"={{ $fromAI(\"texto\",\"coloque aqui os dados resumidos da conversa do agendamento, ex: nome, email, telefone, data\") }}","options":{"appendAttribution":false,"senderName":"Enviado pela "}},"id":"265b9fd7-58ef-4b71-b441-4c2f1c3c7b1f","name":"Gmail","type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[1660,300],"webhookId":"ecde1427-ef60-4021-a359-770029a9e723","credentials":{"gmailOAuth2":{"id":"5GJjjE6boYOSPmMp","name":"Gmail - Divalf"}}},{"parameters":{"resource":"calendar","calendar":{"__rl":true,"value":"cc90b20ed02776e4faba7b5e9003664891e4c03076067f356bf0001be00d8487@group.calendar.google.com","mode":"list","cachedResultName":"Nakamura"},"timeMin":"={{ $json.currentDate }}","timeMax":"={{ (() => {\n  const currentDate = new Date($json.currentDate); // Converte a string para um objeto Date\n  currentDate.setDate(currentDate.getDate() + 30); // Adiciona 30 dias\n  return currentDate.toISOString(); // Retorna a data em formato ISO\n})() }}","options":{"outputFormat":"bookedSlots"}},"id":"c427dc15-83ab-465e-8394-b997b4683b8a","name":"Availability","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[400,0],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"4I7PpR7Fj4L6L6sQ","name":"Google Calendar - Divalf"}}},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"cc90b20ed02776e4faba7b5e9003664891e4c03076067f356bf0001be00d8487@group.calendar.google.com","mode":"list","cachedResultName":"Nakamura"},"returnAll":true,"options":{"timeMin":"={{ $('Date & Time1').first().json.currentDate }}","timeMax":"={{ (() => {\n  const currentDate = new Date($('Date & Time1').first().json.currentDate); // Converte a string para um objeto Date\n  currentDate.setDate(currentDate.getDate() + 30); // Adiciona 30 dias\n  return currentDate.toISOString(); // Retorna a data em formato ISO\n})() }}","query":"=@","showDeleted":false}},"id":"86740d76-c2fa-48d9-8a27-b4f4077d0ccc","name":"Get_many","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[600,0],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"4I7PpR7Fj4L6L6sQ","name":"Google Calendar - Divalf"}}},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"cc90b20ed02776e4faba7b5e9003664891e4c03076067f356bf0001be00d8487@group.calendar.google.com","mode":"list","cachedResultName":"Nakamura"},"eventId":"={{ $json.id }}","options":{}},"id":"9875cbc1-f86d-4bd4-b6ed-8cd0cac331d9","name":"Get_id","type":"n8n-nodes-base.googleCalendar","typeVersion":1.2,"position":[800,0],"alwaysOutputData":true,"credentials":{"googleCalendarOAuth2Api":{"id":"4I7PpR7Fj4L6L6sQ","name":"Google Calendar - Divalf"}},"onError":"continueRegularOutput"}],"connections":{"messages":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Date & Time1":{"main":[[{"node":"Availability","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Date & Time1","type":"main","index":0}]]},"OpenAI":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"AI Agent2","type":"ai_memory","index":0}]]},"detelar_eventos":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Criar_evento":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"buscar_eventos":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Gmail":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Availability":{"main":[[{"node":"Get_many","type":"main","index":0}]]},"Get_many":{"main":[[{"node":"Get_id","type":"main","index":0}]]},"Get_id":{"main":[[{"node":"messages","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"285601aa-b52d-425d-b706-fb650af8052f","triggerCount":0,"tags":[]}