cliente_x/mvUR1itPItMurNAY.json
{
  "createdAt": "2025-01-11T13:28:25.904Z",
  "updatedAt": "2025-01-11T19:49:47.561Z",
  "id": "mvUR1itPItMurNAY",
  "name": "cal_com_delete_call_meeting",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        140
      ],
      "id": "c1ff19ee-2e83-45ec-97e9-fd6018b00d0e",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "return { \n'response':$('HTTP Request').all(),\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        180
      ],
      "id": "a2e6288a-299f-4a14-8beb-becddb851010",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $json.api_url }}/{{ $json.booking_id }}/cancel",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $json.cal_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        280,
        0
      ],
      "id": "f10cc914-fbf2-485d-bdf4-c4439e74fd72",
      "name": "HTTP Request",
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bb41e4e-1574-49d3-bfd2-783e2e2eaafe",
              "name": "api_url",
              "value": "https://api.cal.com/v1/bookings",
              "type": "string"
            },
            {
              "id": "04b28227-7506-4cf1-8837-3c617fa5e984",
              "name": "cal_key",
              "value": "cal_live_744be7a0c19be8df98c7153d85cd2395",
              "type": "string"
            },
            {
              "id": "d61a239e-fbe4-4741-96d7-7ab400ebc538",
              "name": "eventTypeId",
              "value": "1199706",
              "type": "string"
            },
            {
              "id": "d6c94e69-572f-4a96-a278-ec27df46d257",
              "name": "booking_id",
              "value": "={{ $json.query.booking_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "8569d5d8-9217-48e7-8548-c03d2ddda1a8",
      "name": "Config"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "06cbe34a-3a9f-4c1a-bf28-9649354f4443",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-01-11T03:19:29.221Z",
      "updatedAt": "2025-01-11T03:19:29.221Z",
      "id": "NvT4D0248D72xsFk",
      "name": "Andre_Alencar"
    }
  ]
}