cliente_x/p0SwO0GQnvYfn6mb.json
{
  "createdAt": "2024-12-17T00:12:16.327Z",
  "updatedAt": "2024-12-17T03:23:01.155Z",
  "id": "p0SwO0GQnvYfn6mb",
  "name": "Extrator de informações - LNC",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1140,
        -280
      ],
      "id": "4b093d65-161c-4ee5-b03e-522397abcaf6",
      "name": "When chat message received",
      "webhookId": "3750f155-6baf-4102-972c-d143486606a0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a7947eb-84f4-4c44-91ff-af871b5aed36",
              "name": "memory",
              "value": "=12345",
              "type": "string"
            },
            {
              "id": "e1820d93-90e1-4df9-bfdc-ff351198ab91",
              "name": "conversa",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -920,
        -280
      ],
      "id": "9369a16e-d24d-44b7-9484-c5887b69585e",
      "name": "Informações Iniciais"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_QAqjLf9P4RtP5KV3cLmGSaUp",
          "mode": "list",
          "cachedResultName": "SDR_LNC"
        },
        "prompt": "define",
        "text": "={{ $json.conversa }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        -700,
        -280
      ],
      "id": "18cb3b3f-2d21-4b0c-8fec-9755e6eec04b",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "v7f08akDjfrWKlNo",
          "name": "OpenAi account - Uso Geral 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.memory }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -480,
        -120
      ],
      "id": "09b8f3cc-8c07-4895-8ece-e35e1fb9529a",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfddb3ce-9801-4e8a-a18f-926d5becf758",
              "name": "memory",
              "value": "={{ $('Informações Iniciais').item.json.memory }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        -280
      ],
      "id": "d98d1392-8ebf-4ee8-8269-645b2485c842",
      "name": "Armazena a Memória"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.memoryManager",
      "typeVersion": 1.1,
      "position": [
        -120,
        -280
      ],
      "id": "839be81d-dcde-43d8-8a20-b0e327847b53",
      "name": "Gerenciar Memória"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.memory }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -140,
        -100
      ],
      "id": "c1c504e7-e521-41c9-8c28-a482b0b79cc8",
      "name": "Window Buffer Memory1"
    },
    {
      "parameters": {
        "text": "=## OurConversation:\n{{ $json[\"messages\"].map(m => `Human: ${m.human}\\nAIAssistant: ${m.ai}`).join(\"\\n\") }}\n",
        "attributes": {
          "attributes": [
            {
              "name": "nomeCliente",
              "description": "Capture o nome do cliente"
            },
            {
              "name": "tipoImovel",
              "description": "Capture o tipo de imóvel: casa, apartamento, sobrado, chácara, terreno"
            },
            {
              "name": "objetivoCliente",
              "description": "Capture o objetivo do cliente: comprar, vender, alugar"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Você é um algoritmo de extração especialista.  \n\nTrata se um atendimento de uma **imobiliária**,  \n\nExtraia apenas informações relevantes do texto do humano conforme segue:\n\n1- Nome do cliente  \n2- Objetivo do cliente **comprar**, alugar ou **vende** imóveis  \n3- o tipo do imóvel é casa, apartamento ou **chácara**\n\nSe você não souber o valor de um atributo solicitado para extração, poderá omitir o valor do atributo.  \n\n## não retire informações do texto da AI, somente do humano.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        240,
        -280
      ],
      "id": "5fda812f-2a6c-454a-8a1e-c3cb0dc3aa9f",
      "name": "Information Extractor",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        240,
        -100
      ],
      "id": "b278631b-f818-4edd-9063-d6931c400033",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "v7f08akDjfrWKlNo",
          "name": "OpenAi account - Uso Geral 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6c5ea6f1-2335-49fe-8cfe-c2309f08360c",
              "name": "respostaIA",
              "value": "={{ $('OpenAI').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        -500
      ],
      "id": "c43b2aac-e16d-40c6-992a-85618659e53c",
      "name": "Resposta Final"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Informações Iniciais",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações Iniciais": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "OpenAI",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Armazena a Memória",
            "type": "main",
            "index": 0
          },
          {
            "node": "Resposta Final",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armazena a Memória": {
      "main": [
        [
          {
            "node": "Gerenciar Memória",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "Gerenciar Memória",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Gerenciar Memória": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e139b727-cf38-40a8-a493-7571fda7c947",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2024-12-08T01:27:06.693Z",
      "updatedAt": "2024-12-08T01:27:06.693Z",
      "id": "7JINc5DAI6YYAp5e",
      "name": "LNC"
    }
  ]
}