cliente_x/rvZdbuz1riabB1ZT.json
{
  "createdAt": "2025-01-11T13:29:09.270Z",
  "updatedAt": "2025-01-11T19:49:15.645Z",
  "id": "rvZdbuz1riabB1ZT",
  "name": "cal_com_get_horarios",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -900,
        -120
      ],
      "id": "607865c5-5aaa-47b4-befc-76769867f5f8",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "return { \n'response':JSON.stringify($input.all().map(x =>x.json))\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -40,
        -40
      ],
      "id": "86b633f2-62c3-40a8-9039-ea6acd03d286",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "https://api.cal.com/v1/slots",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "={{ $json.cal_key }}"
            },
            {
              "name": "startTime",
              "value": "={{ $json.startTime }}"
            },
            {
              "name": "endTime",
              "value": "={{ $json.endTime }}"
            },
            {
              "name": "eventTypeId",
              "value": "={{ $json.eventTypeId }}"
            },
            {
              "name": "timeZone",
              "value": "America/Sao_Paulo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -360,
        -200
      ],
      "id": "0ecef813-b59a-46ee-8879-3c2e1afc3083",
      "name": "HTTP Request",
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1bb41e4e-1574-49d3-bfd2-783e2e2eaafe",
              "name": "api_url",
              "value": "",
              "type": "string"
            },
            {
              "id": "04b28227-7506-4cf1-8837-3c617fa5e984",
              "name": "cal_key",
              "value": "cal_live_744be7a0c19be8df98c7153d85cd2395",
              "type": "string"
            },
            {
              "id": "8ead661b-e929-4dfd-80e9-9060067737b3",
              "name": "startTime",
              "value": "={{ $json.query || $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "775c1304-2a8c-4bfa-9dd4-0229c4227016",
              "name": "endTime",
              "value": "={{ $now.plus(7,'days').toISO() }}",
              "type": "string"
            },
            {
              "id": "d61a239e-fbe4-4741-96d7-7ab400ebc538",
              "name": "eventTypeId",
              "value": "1023171",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -580,
        20
      ],
      "id": "b23226e1-8c4f-4284-bdeb-7cf5f8b40b64",
      "name": "Config"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2c843443-069e-424f-a497-4d633942d7d8",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-01-11T03:19:29.221Z",
      "updatedAt": "2025-01-11T03:19:29.221Z",
      "id": "NvT4D0248D72xsFk",
      "name": "Andre_Alencar"
    }
  ]
}