cliente_x/xY6TnIFb3RpfxZMm.json
{
  "createdAt": "2024-12-11T00:13:21.512Z",
  "updatedAt": "2024-12-12T01:16:11.880Z",
  "id": "xY6TnIFb3RpfxZMm",
  "name": "Atendimento_Guilherme_Reis_01",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "body.data.message.base64",
        "options": {
          "fileName": "file.ogg",
          "mimeType": "={{ $json.body.data.message.audioMessage.mimetype }}"
        }
      },
      "id": "7ffc294e-b691-4eed-84c3-f123120bbaa7",
      "name": "Convert to File",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -6000,
        160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "68c73ae7-288b-4245-8394-4b0d36b2db90",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -4960,
        520
      ],
      "credentials": {
        "openAiApi": {
          "id": "DOqh24nunYYvR0kE",
          "name": "OpenAi - Vendedor LNC"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7066ff08-1370-464f-a588-86aa37025523",
              "name": "texto",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "72fce238-cec0-46bd-a342-ca1da7d3346e",
      "name": "edit1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5560,
        160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09db48f1-b99e-4760-8a9b-10944a1ce0d2",
              "name": "texto",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9246e4b7-30ce-4ff1-9e88-cd4b3e1dbd0f",
      "name": "edit2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5780,
        660
      ]
    },
    {
      "parameters": {
        "instanceName": "divalf@gmail.com",
        "token": "isa316214@DSN",
        "options_Create_instance": {}
      },
      "id": "a027212f-9285-4850-a71a-e3a3815b2b7a",
      "name": "Evolution API",
      "type": "n8n-nodes-evolution-api.httpBin",
      "typeVersion": 1,
      "position": [
        -3600,
        60
      ],
      "credentials": {
        "httpbinApi": {
          "id": "8ZxQ96o2LPvq7ddu",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "39f02169-e650-4a7c-bfce-b9515c99d6c3",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -4060,
        740
      ],
      "credentials": {
        "openAiApi": {
          "id": "DOqh24nunYYvR0kE",
          "name": "OpenAi - Vendedor LNC"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "imperador@dinastia.uk",
          "mode": "list",
          "cachedResultName": "imperador@dinastia.uk"
        },
        "returnAll": true,
        "options": {
          "timeMin": "={{ $now.format('yyyy-MM-dd hh:mm:ss') }}",
          "timeMax": "={{ $now.plus(7, \"days\").format('yyyy-MM-dd hh:mm:ss') }}"
        }
      },
      "id": "2c9517c6-032d-4249-818e-6bb712f8f8f1",
      "name": "calendario_7dias",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        -2920,
        60
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4I7PpR7Fj4L6L6sQ",
          "name": "Google Calendar - Divalf"
        }
      }
    },
    {
      "parameters": {
        "content": "## Autenticação",
        "height": 388.0773038435652,
        "width": 497.35749825591427
      },
      "id": "de6f47fe-51e2-4105-8d37-4c42c47da600",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6920,
        540
      ]
    },
    {
      "parameters": {
        "content": "## Processar audio + texto",
        "height": 756,
        "width": 1225
      },
      "id": "bbc0442d-d52e-45be-9e1e-8ed5c78a8e24",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -6360,
        80
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "c231fb0c-f073-4b04-90d0-1ba0ead6206b",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -2440,
        220
      ],
      "credentials": {
        "openAiApi": {
          "id": "DOqh24nunYYvR0kE",
          "name": "OpenAi - Vendedor LNC"
        }
      }
    },
    {
      "parameters": {
        "instanceName": "divalf@gmail.com",
        "token": "isa316214@DSN",
        "options_Create_instance": {}
      },
      "id": "c4f2eceb-5768-4457-8fa4-d35fdcf4bdea",
      "name": "Evolution API1",
      "type": "n8n-nodes-evolution-api.httpBin",
      "typeVersion": 1,
      "position": [
        -1640,
        60
      ],
      "credentials": {
        "httpbinApi": {
          "id": "8ZxQ96o2LPvq7ddu",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=agendamento_{{ $(\"auth\").item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 20
      },
      "id": "0c49eaf5-559c-4eba-aef2-a58311177352",
      "name": "Redis Chat Memory3",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -2260,
        240
      ],
      "credentials": {
        "redis": {
          "id": "0qF1xxY6s73Fh5ad",
          "name": "Redis - lnc"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "imperador@dinastia.uk",
          "mode": "list",
          "cachedResultName": "imperador@dinastia.uk"
        },
        "start": "={{ $json.output.startDate }}",
        "end": "={{ $json.output.endDate }}",
        "additionalFields": {
          "attendees": [],
          "summary": "=Visita com {{ $('auth').item.json.body.data.pushName }}"
        }
      },
      "id": "1eb16c3d-8868-4065-af04-26654cbc86e9",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        -2480,
        1100
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4I7PpR7Fj4L6L6sQ",
          "name": "Google Calendar - Divalf"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"retorno\": \"Mensagem aqui.\"\n}"
      },
      "id": "8d833591-92f1-49e1-b732-54b4c2c18e6a",
      "name": "Structured Output Parser4",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2000,
        1280
      ]
    },
    {
      "parameters": {
        "instanceName": "divalf@gmail.com",
        "token": "isa316214@DSN",
        "options_Create_instance": {}
      },
      "id": "0d53b366-1f2a-4710-9fb9-8cfd08ee9616",
      "name": "Evolution API2",
      "type": "n8n-nodes-evolution-api.httpBin",
      "typeVersion": 1,
      "position": [
        -1760,
        1100
      ],
      "credentials": {
        "httpbinApi": {
          "id": "8ZxQ96o2LPvq7ddu",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=intencao_{{ $(\"auth\").item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 20
      },
      "id": "a3eb34a7-69fe-496e-849e-2e78fbf5037c",
      "name": "Redis Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -4760,
        520
      ],
      "credentials": {
        "redis": {
          "id": "0qF1xxY6s73Fh5ad",
          "name": "Redis - lnc"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=chat_{{ $(\"auth\").item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 20
      },
      "id": "23ca8535-fc30-421e-856c-89be6a9fd857",
      "name": "Redis Chat Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -3800,
        220
      ],
      "credentials": {
        "redis": {
          "id": "0qF1xxY6s73Fh5ad",
          "name": "Redis - lnc"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=agendamento_{{ $(\"auth\").item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 20
      },
      "id": "acdca567-ab22-47d1-ac2b-4b02f8badcb5",
      "name": "Redis Chat Memory2",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -3920,
        760
      ],
      "credentials": {
        "redis": {
          "id": "0qF1xxY6s73Fh5ad",
          "name": "Redis - lnc"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "ae1ce5b6-4ffb-4237-82a9-71d3a43dd87c",
      "name": "OpenAI Chat Model3",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -2540,
        1400
      ],
      "credentials": {
        "openAiApi": {
          "id": "DOqh24nunYYvR0kE",
          "name": "OpenAi - Vendedor LNC"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=agendamento_{{ $(\"auth\").item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 20
      },
      "id": "9f1b5d94-e424-4252-8c07-ae9285ab6cd3",
      "name": "Redis Chat Memory4",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -2360,
        1400
      ],
      "credentials": {
        "redis": {
          "id": "0qF1xxY6s73Fh5ad",
          "name": "Redis - lnc"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=agendamento_{{ $(\"auth\").item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 20
      },
      "id": "17d901fe-b4eb-412b-a65c-f1e8394906e6",
      "name": "Redis Chat Memory5",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -2840,
        760
      ],
      "credentials": {
        "redis": {
          "id": "0qF1xxY6s73Fh5ad",
          "name": "Redis - lnc"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "e57d0d31-e387-47f9-8370-3edb9b92595f",
      "name": "OpenAI Chat Model4",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -2980,
        740
      ],
      "credentials": {
        "openAiApi": {
          "id": "DOqh24nunYYvR0kE",
          "name": "OpenAi - Vendedor LNC"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"sucesso\": true,\n  \"eventId\": \"google-calendar-event-id\",\n  \"mensagemError\": \"\"\n}"
      },
      "id": "1afd4f6a-11e6-46bb-bba6-e84f50e743cf",
      "name": "Structured Output Parser5",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2700,
        740
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intencoes\": [\n    \"cancelar_reuniao\",\n    \"agendar_nova_reuniao\"\n  ]\n}"
      },
      "id": "0e222d19-c37f-4fbc-b7c1-5558f749025e",
      "name": "Structured Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -3520,
        1000
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "ac9cc2ee-fa1e-4ac1-bacf-9ebcfb93ab13",
      "name": "Auto-fixing Output Parser1",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -3720,
        800
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dfb54916-b3d4-40a4-8498-4860db74f114",
      "name": "Auto-fixing Output Parser2",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -2040,
        200
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5d999abf-002c-4904-a734-9abc6c7df997",
      "name": "OpenAI Chat Model7",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -2080,
        340
      ],
      "credentials": {
        "openAiApi": {
          "id": "DOqh24nunYYvR0kE",
          "name": "OpenAi - Vendedor LNC"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"resposta\": \"Texto do agente para o cliente\"\n}"
      },
      "id": "efa1f298-c73e-4e63-934a-9f13c06c7300",
      "name": "Structured Output Parser2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1940,
        340
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c30c0ff7-4b47-4b05-9148-030f97f85218",
      "name": "OpenAI Chat Model6",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -3700,
        1000
      ],
      "credentials": {
        "openAiApi": {
          "id": "DOqh24nunYYvR0kE",
          "name": "OpenAi - Vendedor LNC"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "431cc513-2940-430a-9ccd-cf21210056af",
      "name": "OpenAI Chat Model5",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -4580,
        640
      ],
      "credentials": {
        "openAiApi": {
          "id": "DOqh24nunYYvR0kE",
          "name": "OpenAi - Vendedor LNC"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "17b6fa1c-f4ea-4c75-9c9e-1a43900dbc58",
              "leftValue": "={{ $json.body.apikey }}",
              "rightValue": "3FE8AFBDF281-4365-973F-F55A813DF487",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "70c82c3b-7619-4b50-899f-17931323d19d",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "003b76c7-34ad-43db-ae67-f7c32fc40665",
      "name": "auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -6620,
        660
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "03c321e5-4c39-4220-888e-1db46118696f",
      "name": "Auto-fixing Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -4580,
        500
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "\"agendamentos\""
      },
      "id": "e4d89a44-1673-4c65-a3fd-152ed4a6145c",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -4440,
        620
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "c94c5592-b37b-4927-a7ac-21aae1e79230",
      "name": "OpenAI Chat Model8",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1540,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "DOqh24nunYYvR0kE",
          "name": "OpenAi - Vendedor LNC"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=agendamento_{{ $(\"auth\").item.json.body.data.key.remoteJid }}",
        "contextWindowLength": 20
      },
      "id": "c440570f-2060-4ed6-87c4-774c32d3bb54",
      "name": "Redis Chat Memory6",
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.3,
      "position": [
        -1360,
        740
      ],
      "credentials": {
        "redis": {
          "id": "0qF1xxY6s73Fh5ad",
          "name": "Redis - lnc"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "73339b90-86ca-478b-9f74-017cfc26ef1d",
      "name": "Auto-fixing Output Parser3",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -1140,
        700
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f99948ba-1e7c-409e-8ee2-755ef025bc6b",
      "name": "OpenAI Chat Model9",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1180,
        840
      ],
      "credentials": {
        "openAiApi": {
          "id": "DOqh24nunYYvR0kE",
          "name": "OpenAi - Vendedor LNC"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"resposta\": \"Texto do agente para o cliente\"\n}"
      },
      "id": "afcbde4e-0244-45d0-9e61-201549375985",
      "name": "Structured Output Parser6",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -1040,
        840
      ]
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "imperador@dinastia.uk",
          "mode": "list",
          "cachedResultName": "imperador@dinastia.uk"
        },
        "eventId": "={{ $json.output.eventId }}",
        "options": {}
      },
      "id": "8e064462-cb3d-400d-b24f-86daa21300ff",
      "name": "cancelar_reuniao",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        -2200,
        560
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "4I7PpR7Fj4L6L6sQ",
          "name": "Google Calendar - Divalf"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cfdc47c2-2c87-428c-bc72-85aa7d8737db",
              "name": "texto",
              "value": "reunião cancelada",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "dba52dce-9559-42a0-a157-5f9e0392751e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1960,
        560
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.sucesso }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sucesso"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e770ec4d-25f0-44b3-90bc-7845ba026118",
                    "leftValue": "={{ $json.output.sucesso }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "erro"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "97685f19-c6eb-4d1a-bc49-b343e7d7b554",
      "name": "sucesso",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2540,
        580
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35b8d26f-c06e-4c9b-815d-9a2b291d393f",
              "name": "texto",
              "value": "={{ $json.output.mensagemError }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "02317978-2af7-4f0d-ac87-d914abd3cf68",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1960,
        760
      ]
    },
    {
      "parameters": {
        "instanceName": "divalf@gmail.com",
        "token": "isa316214@DSN",
        "options_Create_instance": {}
      },
      "id": "0271c812-60ed-4efa-a7ae-dc3334508968",
      "name": "Evolution API3",
      "type": "n8n-nodes-evolution-api.httpBin",
      "typeVersion": 1,
      "position": [
        -800,
        560
      ],
      "credentials": {
        "httpbinApi": {
          "id": "8ZxQ96o2LPvq7ddu",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "9d1278bc-ab59-46ce-9f8c-3670a10fdf35",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2660,
        60
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "99ed590c-d339-4eb5-971b-c29611f95d7c",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -5780,
        160
      ],
      "credentials": {
        "openAiApi": {
          "id": "0I7DfazSrzmHWaKg",
          "name": "OpenAi - Lab No Code"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "50c6e2b0-2494-4780-abd8-84a0e4213091",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "44660baa-31d6-4d2b-814c-83039dc85701",
      "name": "mensagem_tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -6300,
        340
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "b92004e0-d5a1-4f4e-8fa9-15cce0053c27",
      "name": "mensagem_cliente",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -5280,
        320
      ]
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "prompt": "define",
        "text": "={{ $('mensagem_cliente').item.json.texto }}",
        "options": {}
      },
      "id": "2a38d0e2-fb24-4047-a39c-ea15d47a66c8",
      "name": "Assistente_comercial",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -4000,
        60
      ],
      "credentials": {
        "openAiApi": {
          "id": "0I7DfazSrzmHWaKg",
          "name": "OpenAi - Lab No Code"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.texto }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Não responda nada que não esteja em <INSTRUCAO></INSTRUCAO>, não de nenhuma  informação que não esteja dentro de <INSTRUCAO></INSTRUCAO>. Aja apenas como descrito dentro de <INSTRUCAO></INSTRUCAO>.\n\n<INSTRUCAO>\nVocê é um especialista em classificar mensagens de clientes. \n\nA sua função é identificar a intenção na mensagem deste cliente em apenas 2 categories: \"informações\" ou \"agendamentos\".\n</INSTRUCAO>"
        }
      },
      "id": "185233ad-d401-489f-8e18-f6a44159f1d2",
      "name": "recepcionista",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -4820,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "informacoes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "informacoes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b9cf9869-8857-4e8e-bc38-e9716c978784",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "agendamentos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamentos"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7b33f42b-1c0a-4b11-ae37-ed605a007242",
                    "leftValue": "={{ JSON.parse($json.output).output }}",
                    "rightValue": "informacoes",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "informacoes"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a919694-1dec-41f4-8658-950917722144",
                    "leftValue": "={{ JSON.parse($json.output).output }}",
                    "rightValue": "agendamentos",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendamentos"
            }
          ]
        },
        "options": {}
      },
      "id": "fab91b41-5014-4258-8e63-21a1fe787535",
      "name": "intencao",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4260,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reunião agendada:\n\ninicio: {{ $json.start.dateTime }}\nfim: {{ $json.end.dateTime }}\ntimezone: {{ $json.start.timeZone }}\neventId: {{ $json.id }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Não responda nada que não esteja em <INSTRUCAO></INSTRUCAO>, não de nenhuma  informação que esteje dentro de <INSTRUCAO></INSTRUCAO>. Aja apenas como descrito dentro de <INSTRUCAO></INSTRUCAO>.\n\n<INSTRUCAO>\nVocê é uma secretária focada em agendamentos. Seu nome é \"Dama IA\". Você trabalha para a empresa \"Plaenge\" e estará cuidando de agendamentos para clientes visitarem o decorado do imóvel \"Bossanova\".\n\nbaseado nas informações da confirmação da reunião agendada, escreva uma mensagem breve e curta indicando que a reunião foi confirmada.\n\nResponda sempre no timezone: Europe/London\n</INSTRUCAO>"
        }
      },
      "id": "371859d5-577c-49bf-bd6f-0f1d8952b3be",
      "name": "secretaria_confirmacao",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -2200,
        1100
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('mensagem_cliente').item.json.texto }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Não responda nada que não esteja em <INSTRUCAO></INSTRUCAO>, não de nenhuma  informação que não esteja dentro de <INSTRUCAO></INSTRUCAO>. Aja apenas como descrito dentro de <INSTRUCAO></INSTRUCAO>.\n\n<INSTRUCAO>\nVocê é um especialista em classificar mensagens de clientes. Específicamente sobre agendamentos.\n\nA sua função é identificar a intenção na mensagem deste cliente em apenas 3 categories: \"checar_calendario\" e/ou \"cancelar_reuniao\" e/ou \"agendar_nova_reuniao\".\n\nCaso voce identifique mais de uma única intenção, retorne todas as intencões identificadas.\n\nApenas indique a intenção \"agendar_nova_reuniao\" quando você tiver uma data específica como dia e hora e já a confirmação para criar este agendamento. Caso contrário, é necessário checar_calendario primeiro, sugerir datas para o cliente e confirmar a data.\n\n<EXEMPLO>\nUser: Sim, você teria disponibilidade para segunda às 13?\nRetorno: checar_calendario\n</EXEMPLO>\n\n<EXEMPLO>\nUser: Sim, você teria disponibilidade para segunda às 13?\nIA: Agradeço a sua mensagem! Infelizmente, segunda-feira às 13h já está reservada. Gostaria de sugerir uma visita na segunda-feira, dia 18 de novembro, às 10h ou às 15h. Você poderia nesses horários?\nUser: As 10h poder ser\nRetorno: agendar_nova_reuniao\n</EXEMPLO>\n\n<EXEMPLO>\nUser: Pode agendar uma reunião para terça as 10. Obrigado.\nRetorno: agendar_nova_reuniao\n</EXEMPLO>\n</INSTRUCAO>"
        }
      },
      "id": "d0b258ca-8c85-417e-88e6-aab727e40bde",
      "name": "secretaria",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -4000,
        580
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.intencoes }}",
                    "rightValue": "checar_calendario",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "checar_calendario"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ecca9851-b6fa-405c-9234-261c49245287",
                    "leftValue": "={{ $json.output.intencoes }}",
                    "rightValue": "cancelar_reuniao",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancelar_reuniao"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a0f2e5a9-e77a-4c5f-b32d-d4be5c8f60da",
                    "leftValue": "={{ $json.output.intencoes }}",
                    "rightValue": "agendar_nova_reuniao",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "agendar_nova_reuniao"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "id": "6ef95a27-1ae3-44e9-867f-ac8aaab76e5c",
      "name": "agendamento_intencoes",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3420,
        580
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('mensagem_cliente').item.json.texto }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Não responda nada que não esteja em <INSTRUCAO></INSTRUCAO>, não de nenhuma  informação que não esteja dentro de <INSTRUCAO></INSTRUCAO>. Aja apenas como descrito dentro de <INSTRUCAO></INSTRUCAO>.\n\n<INSTRUCAO>\nBaseado no histórico das conversar estráia o dia e hora da reunião para ser cancelada.\n\nCaso não localizar o evento para cancelar, retorno false para o successo com uma mensagemError \n\npara referencia, agora o dia e horario é: \"{{ $now.format('EEEE') }}, {{ $now.format('yyyy-MM-dd hh:mm:ii') }}\". \n</INSTRUCAO>"
        }
      },
      "id": "e46758a1-b390-4616-a8b1-d3e931b0e956",
      "name": "secretaria_cancelar_reuniao",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -2920,
        580
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "f403a0e5-10d2-4c19-80b4-0de996e997b1",
      "name": "texto",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1700,
        560
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<TEXTO>{{ $json.texto }}</TEXTO>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Não responda nada que não esteja em <INSTRUCAO></INSTRUCAO>, não de nenhuma  informação que esteje dentro de <INSTRUCAO></INSTRUCAO>. Aja apenas como descrito dentro de <INSTRUCAO></INSTRUCAO>.\n\n<INSTRUCAO>\nVocê é uma secretária focada em agendamentos. Seu nome é \"Dama IA\". Você trabalha para a empresa \"Plaenge\" e estará cuidando de agendamentos para clientes visitarem o decorado do imóvel \"Bossanova\".\n\nCaso o <TEXTO></TEXTO> seja \"reunião cancelada\" crie uma mensagem confirmando que a reunião foi cancelada com sucesso.\n\nCaso o <TEXTO></TEXTO> for algo diferente de \"reunião cancelada\", retorne uma mensagem baseado no que está escrito no <TEXTO></TEXTO>\n</INSTRUCAO>"
        }
      },
      "id": "eb109688-b3de-43e5-b62b-ce5adcbe672a",
      "name": "secretaria_cancelar_reiuniao",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1460,
        560
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evolution",
        "options": {}
      },
      "id": "6c342855-2b52-42be-98ac-23d5e4e31df0",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -6840,
        660
      ],
      "webhookId": "39880e20-6b3c-4dff-a13b-7f98d4cc03df"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<CLIENTE>\n{{ $('mensagem_cliente').item.json.texto }}\n</CLIENTE>\n\n<AGENDA>\n{{ $json.data.map(agenda => `start: ${agenda.start.dateTime} - end: ${agenda.end.dateTime} - timezone: ${agenda.start.timeZone}`) }}\n</AGENDA>",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Não responda nada que não esteja em <INSTRUCAO></INSTRUCAO>, não de nenhuma  informação que esteje dentro de <INSTRUCAO></INSTRUCAO>. Aja apenas como descrito dentro de <INSTRUCAO></INSTRUCAO>.\n\n<INSTRUCAO>\nVocê é uma secretária focada em agendamentos. Seu nome é \"Dama IA\". Você trabalha para a empresa \"Plaenge\" e estará cuidando de agendamentos para clientes visitarem o decorado do imóvel \"Bossanova\".\n\nA sua função é checar a <AGENDA></AGENDA> para os próximos 7 dias e ver a disponibilidade de acordo com o texto do <CLIENTE></CLIENTE>.\n\nSe o cliente sugeriu uma data e hora, veja se esta data e hora esta dentro dos 7 dias apartir de hoje \"{{ $now.format('yyyy-MM-dd hh:mm:ii') }}\". \n\nSe a data não estiver disponível, faça uma sugestão para uma data próxima. \n\nPara referencia, a data e hora agora é: {{ $now.format('EEEE, yyyy-MM-dd hh:mm:ii') }}\n\nApenas sugira datas em horário comercial, das 8 as 18 de segunda a sexta e das 9 as 12 as sábados e domingos.\n\nCaso o cliente sugeriu uma data após {{ $now.plus(7, \"days\").format('yyyy-MM-dd') }}, fale que você só pode agendar para os próximos 7 dias.\n\nCaso o cliente não sugeriu nenhuma data, faça você a sua gestão para a data mais próxima disponivel no calendário.\n\nO seu calendário está na timezone \"Europe/London\".\n\nResponda de uma forma cordial apenas sobre a disponibilidade e pergunta se poderia confirmar.\n\n<AVOID>\nNão responda já confirmando o agendamento.\nNão faça a sugestão de data que já possui na <AGENDA></AGENDA>. Neste caso sugira uma data mais próxima.\n</AVOID>\n</INSTRUCAO>"
        }
      },
      "id": "41115653-2863-4ab8-86f1-315981d83677",
      "name": "secretaria_checar_calendario",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -2360,
        60
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('mensagem_cliente').item.json.texto }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Não responda nada que não esteja em <INSTRUCAO></INSTRUCAO>, não de nenhuma  informação que não esteja dentro de <INSTRUCAO></INSTRUCAO>. Aja apenas como descrito dentro de <INSTRUCAO></INSTRUCAO>.\n\n<INSTRUCAO>\nBaseado no histórico das conversar estráia o dia e hora da reunião para ser agendada.\n\npara referencia, agora o dia e horario é: \"{{ $now.format('EEEE') }}, {{ $now.format('yyyy-MM-dd hh:mm:ii') }}\". \n</INSTRUCAO>"
        }
      },
      "id": "2331a7e9-8091-4255-808a-e24b57dab7c6",
      "name": "secretaria_agendar_reuniao",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -2920,
        1100
      ],
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dae29877-d04b-40c4-b08e-ad5628a26efa",
      "name": "Auto-fixing Output Parser4",
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -2900,
        1400
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2cdc25bc-c2f0-4cd1-ae51-ed95ae7df7a4",
      "name": "OpenAI Chat Model10",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -2900,
        1660
      ],
      "credentials": {
        "openAiApi": {
          "id": "DOqh24nunYYvR0kE",
          "name": "OpenAi - Vendedor LNC"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"startDate\": \"2024-11-18T10:00:00\",\n  \"endDate\": \"2024-11-18T11:00:00\",\n  \"timezone\": \"Europe/London\"\n}"
      },
      "id": "ed410d6f-d676-4107-81d9-f66716db4770",
      "name": "Structured Output Parser3",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2660,
        1660
      ]
    }
  ],
  "connections": {
    "Convert to File": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "recepcionista",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "edit1": {
      "main": [
        [
          {
            "node": "mensagem_cliente",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "edit2": {
      "main": [
        [
          {
            "node": "mensagem_cliente",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "secretaria",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "secretaria_checar_calendario",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "calendario_7dias": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory3": {
      "ai_memory": [
        [
          {
            "node": "secretaria_checar_calendario",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "secretaria_confirmacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "secretaria_confirmacao",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "recepcionista",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "Assistente_comercial",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory2": {
      "ai_memory": [
        [
          {
            "node": "secretaria",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "secretaria_agendar_reuniao",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "secretaria_confirmacao",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory4": {
      "ai_memory": [
        [
          {
            "node": "secretaria_agendar_reuniao",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "secretaria_confirmacao",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory5": {
      "ai_memory": [
        [
          {
            "node": "secretaria_cancelar_reuniao",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "secretaria_cancelar_reuniao",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "secretaria_cancelar_reuniao",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "secretaria",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "secretaria_checar_calendario",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "auth": {
      "main": [
        [
          {
            "node": "mensagem_tipo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "recepcionista",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "secretaria_cancelar_reiuniao",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory6": {
      "ai_memory": [
        [
          {
            "node": "secretaria_cancelar_reiuniao",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "secretaria_cancelar_reiuniao",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser6": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "cancelar_reuniao": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sucesso": {
      "main": [
        [
          {
            "node": "cancelar_reuniao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "texto",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "texto",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "secretaria_checar_calendario",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "edit1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_tipo": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "edit2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "mensagem_cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mensagem_cliente": {
      "main": [
        [
          {
            "node": "recepcionista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recepcionista": {
      "main": [
        [
          {
            "node": "intencao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "intencao": {
      "main": [
        [
          {
            "node": "Assistente_comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "secretaria",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Assistente_comercial",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "secretaria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "secretaria": {
      "main": [
        [
          {
            "node": "agendamento_intencoes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "agendamento_intencoes": {
      "main": [
        [
          {
            "node": "calendario_7dias",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "secretaria_cancelar_reuniao",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "secretaria_agendar_reuniao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "secretaria_cancelar_reuniao": {
      "main": [
        [
          {
            "node": "sucesso",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "texto": {
      "main": [
        [
          {
            "node": "secretaria_cancelar_reiuniao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "secretaria_agendar_reuniao": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "secretaria_agendar_reuniao",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "Auto-fixing Output Parser4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Assistente_comercial": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "secretaria_checar_calendario": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "secretaria_cancelar_reiuniao": {
      "main": [
        [
          {
            "node": "Evolution API3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "secretaria_confirmacao": {
      "main": [
        [
          {
            "node": "Evolution API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "40ad9a89-6b63-4164-9a0a-4ce15d4fd8b1",
  "triggerCount": 0,
  "tags": []
}