cliente_x/yH5ppHqUfiBY7hJI.json
{
  "createdAt": "2024-12-22T00:26:45.648Z",
  "updatedAt": "2024-12-22T00:58:27.502Z",
  "id": "yH5ppHqUfiBY7hJI",
  "name": "Restore_Backup - Github",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1200,
        -420
      ],
      "id": "0c59c1fb-07e8-4270-a5fa-538839f78795",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54e64a21-0cf3-4603-bf64-afab32958cd7",
              "name": "dono",
              "value": "divalf",
              "type": "string"
            },
            {
              "id": "2e4cb7e5-07ec-45e5-b7e9-4ac8fc55e09b",
              "name": "repositorio",
              "value": "n8n_backup_do",
              "type": "string"
            },
            {
              "id": "6d6cab57-4f9c-47da-9cee-a4cd4ff313d0",
              "name": "arquivo",
              "value": "cliente_x/44TXzR9jeYKgDan7.json",
              "type": "string"
            },
            {
              "id": "c7b72e83-5b3f-4953-9604-164b73719dfe",
              "name": "versao",
              "value": "2a3082999e69ff53dc5cfe31ffff8bb65d9316ad",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1020,
        -420
      ],
      "id": "8abe0b8b-4951-42a7-98c4-790c8ab9df9c",
      "name": "Informações Básicas"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $json.dono }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.repositorio }}",
          "mode": "name"
        },
        "filePath": "={{ $json.arquivo }}",
        "additionalParameters": {
          "reference": "={{ $json.versao }}"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -840,
        -420
      ],
      "id": "c86af17f-7695-4ba3-ba51-24d8f7f85550",
      "name": "GitHub - Get a File",
      "credentials": {
        "githubOAuth2Api": {
          "id": "efvceInI1F8lHtQP",
          "name": "GitHub - Backup"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -660,
        -420
      ],
      "id": "603fb748-f28b-4d33-8a87-71c7123f68dd",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "operation": "update",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.data.id }}",
          "mode": "id"
        },
        "workflowObject": "={{ JSON.stringify($json.data) }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -480,
        -420
      ],
      "id": "dc37fab6-b7c7-464d-881f-6ef21de5e482",
      "name": "n8n",
      "credentials": {
        "n8nApi": {
          "id": "NFLZ9L8AJ50wg3w3",
          "name": "n8n - backup"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Informações Básicas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informações Básicas": {
      "main": [
        [
          {
            "node": "GitHub - Get a File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub - Get a File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "n8n",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "57af4913-b7da-41ec-b03c-edc42bfb165f",
  "triggerCount": 0,
  "tags": []
}