cliente_x/zElWi3id6Unw3Q3D.json
{
  "createdAt": "2024-12-11T02:00:53.850Z",
  "updatedAt": "2024-12-11T02:58:20.410Z",
  "id": "zElWi3id6Unw3Q3D",
  "name": "Backup Fluxos - Drive",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://n8n-main.evolutionai.cloud/home/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MmYzMGU1Zi05YWZhLTRjMDMtYTNhYS01YTAwNGY2NjFiZjYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzMzODgzNjQwfQ.Cz_9nOrUupjRflzD9i-f0DmNit0Wd8UMuBFUwWf0AnY"
            }
          ]
        },
        "options": {}
      },
      "id": "2250c79f-88b5-4acb-9f42-111f379c71a0",
      "name": "obtem json dos workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        580
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "id": "6fa2d195-4b01-4cc7-bba8-ef4ed1aadfcc",
      "name": "Gera lista de workflows",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1720,
        580
      ]
    },
    {
      "parameters": {
        "url": "=https://n8n-main.evolutionai.cloud/api/v1/workflows/{{ $json.id }}\n\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI1MmYzMGU1Zi05YWZhLTRjMDMtYTNhYS01YTAwNGY2NjFiZjYiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzMzODgzNjQwfQ.Cz_9nOrUupjRflzD9i-f0DmNit0Wd8UMuBFUwWf0AnY"
            }
          ]
        },
        "options": {}
      },
      "id": "1402e61f-8b49-47f3-9dc1-44c7c3cfac04",
      "name": "obtem json do workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        660
      ]
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "options": {
          "useRawData": false
        }
      },
      "name": "Move Binary Data",
      "type": "n8n-nodes-base.moveBinaryData",
      "position": [
        1260,
        920
      ],
      "typeVersion": 1,
      "id": "d0aa9979-a03a-44be-b90f-27ed99b59c78"
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        2340,
        600
      ],
      "typeVersion": 1,
      "id": "43cc40d1-415d-4774-996a-b331e24fd660"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $today.toFormat(\"DD\") }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/0/folders/1QuRi_0OlZexFLQhdIMAVpZMW-1S0Q5NL",
          "mode": "url"
        },
        "options": {
          "simplifyOutput": true
        }
      },
      "id": "fe17fe07-a990-4dd6-9e32-d22856a4140f",
      "name": "Cria pasta do Dia",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1280,
        580
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BRdD3UKUCiFRqLKy",
          "name": "Google Drive - Divalf"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "binaryData": true,
        "name": "={{$node[\"Merge\"].data[\"name\"]}}.json",
        "resolveData": true,
        "parents": [
          "={{ $('Cria pasta do Dia').item.json.id }}"
        ],
        "options": {}
      },
      "name": "Salva os worflows",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        1440,
        920
      ],
      "typeVersion": 1,
      "id": "73b0c444-f02e-40d3-93f4-e2094f82e1c2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BRdD3UKUCiFRqLKy",
          "name": "Google Drive - Divalf"
        }
      }
    },
    {
      "parameters": {},
      "id": "038ac9f5-6af9-409c-b639-59178f601b2d",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1640,
        920
      ]
    },
    {
      "parameters": {
        "content": "\n## Faz backup dos workflows no google drive\n## E envia notificação no whatsaap 🤖\n\n* Crie sua apikey do n8n\n\n* Obter json dos workflows: https://seun8n.com/api/v1/workflows\n\nHeader\n\nX-N8N-API-KEY\nValue: sua apikey do n8n\n\n\n* obtem json do workflow:\nhttps://seun8n.com/api/v1/workflows/{{ $json.id }}\n\nX-N8N-API-KEY\nValue: sua apikey do n8n\n\n\n\n",
        "height": 441.4439746295221,
        "width": 710.2916632337468,
        "color": 5
      },
      "id": "829b2143-cc58-4251-966a-d08aa04224a7",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        180
      ]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Dival_Filho",
        "remoteJid": "5511985401987",
        "messageText": "=Bkp workflows N8N VPS Contabo\n{{ $('Cria pasta do Dia').item.json.name }}\n\nEmail: divalf@gmail.com\nhttps://drive.google.com/drive/u/0/folders/{{ $('Cria pasta do Dia').item.json.id }}\n"
      },
      "id": "bd803e53-f606-4c0b-a251-009571f046c3",
      "name": "Evolution API1",
      "type": "n8n-nodes-evolution-api.httpBin",
      "typeVersion": 1,
      "position": [
        1840,
        920
      ],
      "credentials": {
        "httpbinApi": {
          "id": "8ZxQ96o2LPvq7ddu",
          "name": "Evolution API"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "id": "b98df9c5-b26d-44d1-a778-de61c2790768",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        980,
        680
      ]
    }
  ],
  "connections": {
    "obtem json dos workflows": {
      "main": [
        [
          {
            "node": "Gera lista de workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gera lista de workflows": {
      "main": [
        [
          {
            "node": "obtem json do workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "obtem json do workflow": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Move Binary Data": {
      "main": [
        [
          {
            "node": "Salva os worflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Move Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria pasta do Dia": {
      "main": [
        [
          {
            "node": "obtem json dos workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salva os worflows": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Cria pasta do Dia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "289a8212-40dc-4340-a113-5994aea1cb10",
  "triggerCount": 0,
  "tags": []
}